# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ import

In [4]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis

## 2.1 ADA(Cardano) Train Data - Processed for Flair

- Ï†ÑÏ≤òÎ¶¨ Ïù¥ÌõÑ ÍπÄÎèÑÏòÅ ÌïôÏö∞ÏóêÍ≤å Ï†ÑÎã¨ÌïòÏó¨ ÌïôÏäµÌï† Îç∞Ïù¥ÌÑ∞
- 2022.04.13~2022.04.27

In [5]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
cardano_df = []

for i in range(14,29):
    cardano_df.append(pd.read_csv('./cardano/ada OR cardano_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

cardano_data = d_concat.concat(cardano_df)

  0%|          | 0/14 [00:00<?, ?it/s]

In [6]:
cardano_data.isna().sum()

date                0
user_id             0
user_name           3
user_screen_name    0
tweet               0
retweets            1
likes               1
follower_number     1
following_number    1
dtype: int64

In [7]:
cardano_data= cardano_data.dropna()
cardano_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [8]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
cardano_data = cardano_data.sort_values('date').reset_index(drop=True)
cardano_data.to_csv('cardano_train_data')
cardano_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-13 03:22:47+00:00,1441392110758891525,alin sebentar lagi selesai us,woundervul,ada ngga yang pake pramuka hari senin,0.0,0.0,2758.0,2225.0
1,2022-04-13 03:24:54+00:00,1358025618269458433,raaa,meandyouinmars,@convomf ga. ntar kasian ada yg ovt malem¬≤,0.0,0.0,475.0,484.0
2,2022-04-13 03:25:02+00:00,902919690565160960,Brianna Baker,briannasbaker,@haileefrazier I WISH...cuz mine literally kic...,0.0,1.0,112.0,141.0
3,2022-04-13 03:25:15+00:00,1491478730035720194,Krzy_In_Kali,Neon_Bunny69,@adamm1t @qu33rlee I love Ada,0.0,0.0,360.0,5006.0
4,2022-04-13 03:26:48+00:00,108570798,Manusia Adimanusia,yakAulia,Ada ada aja kelakuan anaknya Jose Victor ini. ...,0.0,0.0,255.0,814.0
...,...,...,...,...,...,...,...,...,...
31201,2022-04-27 23:55:41+00:00,1491722300302888962,‚úòawaii‚úò,catsal1,Sama cerita wayang lain nya. Makasihh kak auth...,0.0,0.0,58.0,135.0
31202,2022-04-27 23:57:11+00:00,1447269530640785416,Clay Nation Sales,ClayNationSales,Clay Nation x GC #3789 with Emo Hair (4.81%) w...,0.0,6.0,2887.0,2.0
31203,2022-04-27 23:57:40+00:00,1113504915110789121,libra,eleasdiary,That the point. \nBahkan kalo sampe hamidun pu...,0.0,1.0,499.0,640.0
31204,2022-04-27 23:58:32+00:00,433786811,Lego,XLegus,Congratulations to @conraddit and the @adahand...,0.0,1.0,184.0,317.0
31205,2022-04-27 23:59:01+00:00,1445574043512422404,autumnleafüçÅ,Vinzzzo_,"Di minimarket ada alat namanya ""kondom"" kalau ...",0.0,1.0,260.0,274.0

In [9]:
flair_cardano = cardano_data[['date','tweet']]

In [10]:
sentimental_tweet = sentimental_analysis(flair_cardano)

In [11]:
sentimental_tweet.process('flair')
flair_processed_cardano = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_cardano

  0%|          | 0/31206 [00:00<?, ?it/s]

process time :  2.075610876083374

,date,tweet,clean_text,flair
0,2022-04-13 03:22:47+00:00,ada ngga yang pake pramuka hari senin,ada ngga yang pake pramuka hari senin,NaN
1,2022-04-13 03:24:54+00:00,@convomf ga. ntar kasian ada yg ovt malem¬≤,ga ntar kasian ada yg ovt malem,NaN
2,2022-04-13 03:25:02+00:00,@haileefrazier I WISH...cuz mine literally kic...,I WISH cuz mine literally kicked me out for a ...,NaN
3,2022-04-13 03:25:15+00:00,@adamm1t @qu33rlee I love Ada,I love Ada,NaN
4,2022-04-13 03:26:48+00:00,Ada ada aja kelakuan anaknya Jose Victor ini. ...,Ada ada aja kelakuan anaknya Jose Victor ini,NaN
...,...,...,...,...
31201,2022-04-27 23:55:41+00:00,Sama cerita wayang lain nya. Makasihh kak auth...,Sama cerita wayang lain nya Makasihh kak autho...,NaN
31202,2022-04-27 23:57:11+00:00,Clay Nation x GC #3789 with Emo Hair (4.81%) w...,Clay Nation x GC with Emo Hair ( 4 81 % ) was ...,NaN
31203,2022-04-27 23:57:40+00:00,That the point. \nBahkan kalo sampe hamidun pu...,That the point Bahkan kalo sampe hamidun pun i...,NaN
31204,2022-04-27 23:58:32+00:00,Congratulations to @conraddit and the @adahand...,Congratulations to and the team Exciting begin...,NaN
31205,2022-04-27 23:59:01+00:00,"Di minimarket ada alat namanya ""kondom"" kalau ...","Di minimarket ada alat namanya "" kondom "" kala...",NaN

In [12]:
flair_processed_cardano.to_csv('flair_processed_cardano_train_data')

In [13]:
pd.read_csv('flair_processed_cardano_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-13 03:22:47+00:00,ada ngga yang pake pramuka hari senin,ada ngga yang pake pramuka hari senin,NaN
1,2022-04-13 03:24:54+00:00,@convomf ga. ntar kasian ada yg ovt malem¬≤,ga ntar kasian ada yg ovt malem,NaN
2,2022-04-13 03:25:02+00:00,@haileefrazier I WISH...cuz mine literally kic...,I WISH cuz mine literally kicked me out for a ...,NaN
3,2022-04-13 03:25:15+00:00,@adamm1t @qu33rlee I love Ada,I love Ada,NaN
4,2022-04-13 03:26:48+00:00,Ada ada aja kelakuan anaknya Jose Victor ini. ...,Ada ada aja kelakuan anaknya Jose Victor ini,NaN
...,...,...,...,...
31201,2022-04-27 23:55:41+00:00,Sama cerita wayang lain nya. Makasihh kak auth...,Sama cerita wayang lain nya Makasihh kak autho...,NaN
31202,2022-04-27 23:57:11+00:00,Clay Nation x GC #3789 with Emo Hair (4.81%) w...,Clay Nation x GC with Emo Hair ( 4 81 % ) was ...,NaN
31203,2022-04-27 23:57:40+00:00,That the point. \nBahkan kalo sampe hamidun pu...,That the point Bahkan kalo sampe hamidun pun i...,NaN
31204,2022-04-27 23:58:32+00:00,Congratulations to @conraddit and the @adahand...,Congratulations to and the team Exciting begin...,NaN
31205,2022-04-27 23:59:01+00:00,"Di minimarket ada alat namanya ""kondom"" kalau ...","Di minimarket ada alat namanya "" kondom "" kala...",NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [14]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

  0%|          | 0/31206 [00:00<?, ?it/s]

process time :  2.0786638259887695

  0%|          | 0/31206 [00:00<?, ?it/s]

textblob sentimental time :  2.7967522144317627

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [15]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

  0%|          | 0/31206 [00:00<?, ?it/s]

process time :  2.0875818729400635

  0%|          | 0/31206 [00:00<?, ?it/s]

vader sentimental time :  2.382784128189087

In [16]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:22:47+00:00,ada ngga yang pake pramuka hari senin,ada ngga yang pake pramuka hari senin,0.0000,0.0
1,2022-04-13 03:24:54+00:00,@convomf ga. ntar kasian ada yg ovt malem¬≤,ga ntar kasian ada yg ovt malem,0.0000,0.0
2,2022-04-13 03:25:02+00:00,@haileefrazier I WISH...cuz mine literally kic...,I WISH cuz mine literally kicked me out for a ...,0.6037,0.0
3,2022-04-13 03:25:15+00:00,@adamm1t @qu33rlee I love Ada,I love Ada,0.6369,0.5
4,2022-04-13 03:26:48+00:00,Ada ada aja kelakuan anaknya Jose Victor ini. ...,Ada ada aja kelakuan anaknya Jose Victor ini,0.0000,0.0
...,...,...,...,...,...
31201,2022-04-27 23:55:41+00:00,Sama cerita wayang lain nya. Makasihh kak auth...,Sama cerita wayang lain nya Makasihh kak autho...,0.3612,0.0
31202,2022-04-27 23:57:11+00:00,Clay Nation x GC #3789 with Emo Hair (4.81%) w...,Clay Nation x GC with Emo Hair ( 4 81 % ) was ...,0.0000,0.0
31203,2022-04-27 23:57:40+00:00,That the point. \nBahkan kalo sampe hamidun pu...,That the point Bahkan kalo sampe hamidun pun i...,-0.0258,0.0
31204,2022-04-27 23:58:32+00:00,Congratulations to @conraddit and the @adahand...,Congratulations to and the team Exciting begin...,0.7964,0.3
31205,2022-04-27 23:59:01+00:00,"Di minimarket ada alat namanya ""kondom"" kalau ...","Di minimarket ada alat namanya "" kondom "" kala...",0.0000,0.0

In [17]:
vader_textblob_cardano_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_cardano_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:22:47+00:00,ada ngga yang pake pramuka hari senin,ada ngga yang pake pramuka hari senin,0.0000,0.0
1,2022-04-13 03:24:54+00:00,@convomf ga. ntar kasian ada yg ovt malem¬≤,ga ntar kasian ada yg ovt malem,0.0000,0.0
2,2022-04-13 03:25:02+00:00,@haileefrazier I WISH...cuz mine literally kic...,I WISH cuz mine literally kicked me out for a ...,0.6037,0.0
3,2022-04-13 03:25:15+00:00,@adamm1t @qu33rlee I love Ada,I love Ada,0.6369,0.5
4,2022-04-13 03:26:48+00:00,Ada ada aja kelakuan anaknya Jose Victor ini. ...,Ada ada aja kelakuan anaknya Jose Victor ini,0.0000,0.0
...,...,...,...,...,...
31201,2022-04-27 23:55:41+00:00,Sama cerita wayang lain nya. Makasihh kak auth...,Sama cerita wayang lain nya Makasihh kak autho...,0.3612,0.0
31202,2022-04-27 23:57:11+00:00,Clay Nation x GC #3789 with Emo Hair (4.81%) w...,Clay Nation x GC with Emo Hair ( 4 81 % ) was ...,0.0000,0.0
31203,2022-04-27 23:57:40+00:00,That the point. \nBahkan kalo sampe hamidun pu...,That the point Bahkan kalo sampe hamidun pun i...,-0.0258,0.0
31204,2022-04-27 23:58:32+00:00,Congratulations to @conraddit and the @adahand...,Congratulations to and the team Exciting begin...,0.7964,0.3
31205,2022-04-27 23:59:01+00:00,"Di minimarket ada alat namanya ""kondom"" kalau ...","Di minimarket ada alat namanya "" kondom "" kala...",0.0000,0.0

In [18]:
vader_textblob_cardano_data.to_csv('vader_textblob_cardano_train_data')

## 2.1 ADA(Cardano) Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
cardano_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    cardano_test_df.append(pd.read_csv('./cardano/ada OR cardano_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
cardano_test_df.append(pd.read_csv('./cardano/ada OR cardano_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
cardano_test_data = d_concat.concat(cardano_test_df)
cardano_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-30 23:57:19+00:00,1352070588366528513,Steve üá©üá¥üá∫üá∏,CryptoSteve31,‚ÄúCrypto is unstoppable. Crypto is the FUTURE!‚Äù...,0.0,2.0,36.0,146.0
1,2022-04-30 23:56:52+00:00,296291345,"Heather B, BSc Env Health, MPH üá∫üá¶üåª",DonkeyRanchLady,@AdamParkhomenko My Ada https://t.co/PccBFzMiwo,0.0,0.0,117.0,764.0
2,2022-04-30 23:56:22+00:00,1431921916986593282,hannüçÄüçí,jiewin0x,"@convomf Ada gamis, ada roküëç",0.0,0.0,58.0,185.0
3,2022-04-30 23:55:34+00:00,1467689151873302529,Alan,yuzhu74223509,Apexaverse launches play-to-earn Metaverse 3D ...,0.0,0.0,3.0,7.0
4,2022-04-30 23:55:21+00:00,1089346743014019073,ada syg ada,nakrumahan,ada yg ridi iqiyi 3 hari butuh buat c #zonauang,0.0,0.0,583.0,550.0
...,...,...,...,...,...,...,...,...,...
106827,2022-04-28 12:31:44+00:00,1175394888604479489,julian,darklorrrrrd,@rrraappunzzel ada kembang api,0,0,2435,2408
106828,2022-04-28 12:31:27+00:00,1202279522302750720,Saint Pablo,iklanrinsocair,Info tempat nongkrong yg ada partnernya dong,0,0,536,522
106829,2022-04-28 12:30:15+00:00,1110554294665793539,xzin.eth,xzinft,@InputOutputHK I‚Äôm asking for a fren wen Carda...,0,0,2386,1990
106830,2022-04-28 12:30:03+00:00,1068452430046683136,Dee,scndxsummer,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,0,29,149,606
106831,2022-04-28 12:30:01+00:00,575197117,Crypto Signal Mall,TopPaidSignals,Follow us to receive Premium Signals from Top ...,0,0,545,232

In [17]:
cardano_test_data.isna().sum()

date                0
user_id             0
user_name           9
user_screen_name    0
tweet               1
retweets            2
likes               2
follower_number     2
following_number    2
dtype: int64

In [18]:
cardano_test_data = cardano_test_data.dropna()
cardano_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
cardano_test_data = cardano_test_data.sort_values('date').reset_index(drop=True)
cardano_test_data.to_csv('cardano_test_data')
cardano_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-28 12:30:01+00:00,575197117,Crypto Signal Mall,TopPaidSignals,Follow us to receive Premium Signals from Top ...,0,0,545,232
1,2022-04-28 12:30:03+00:00,1068452430046683136,Dee,scndxsummer,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,0,29,149,606
2,2022-04-28 12:30:15+00:00,1110554294665793539,xzin.eth,xzinft,@InputOutputHK I‚Äôm asking for a fren wen Carda...,0,0,2386,1990
3,2022-04-28 12:31:27+00:00,1202279522302750720,Saint Pablo,iklanrinsocair,Info tempat nongkrong yg ada partnernya dong,0,0,536,522
4,2022-04-28 12:31:44+00:00,1175394888604479489,julian,darklorrrrrd,@rrraappunzzel ada kembang api,0,0,2435,2408
...,...,...,...,...,...,...,...,...,...
106816,2022-05-14 23:58:46+00:00,1446844180102148098,GEM HODLERS News & Marketing Co.¬Æ üíé,TheGemHodlers,"Ethereum, Ripple, Cardano, Solana, and Shiba¬†I...",0,0,4590,258
106817,2022-05-14 23:58:48+00:00,1260793119835959297,Mun,bunyhorse91,"Siapa yang jadi bini leeteuk, memang untung. K...",1,5,170,302
106818,2022-05-14 23:59:49+00:00,134646416,Eva Mazrieva,mazrieva,"5) Gubernur NY Kathy Hochul : ""Tidak ada yg dp...",2,3,2193,696
106819,2022-05-14 23:59:59+00:00,1451745689315250178,Sarjint Bell || (a)bbott era,ayannasbraidout,The IG Ada get me cuz I added the olive one to...,0,1,1094,297
106820,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [28]:
flair_test_cardano = cardano_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_cardano)

In [22]:
sentimental_tweet.process('flair')
flair_processed_cardano_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_cardano_test

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106821/106821 [00:06<00:00, 15941.91it/s]

process time :  6.766900300979614

,date,tweet,clean_text,flair
0,2022-04-28 12:30:01+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,NaN
1,2022-04-28 12:30:03+00:00,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,_ Kalo ga salah izin nya itu panjang dan ribet...,NaN
2,2022-04-28 12:30:15+00:00,@InputOutputHK I‚Äôm asking for a fren wen Carda...,I am asking for a fren wen Cardano above a sta...,NaN
3,2022-04-28 12:31:27+00:00,Info tempat nongkrong yg ada partnernya dong,Info tempat nongkrong yg ada partnernya dong,NaN
4,2022-04-28 12:31:44+00:00,@rrraappunzzel ada kembang api,ada kembang api,NaN
...,...,...,...,...
106816,2022-05-14 23:58:46+00:00,"Ethereum, Ripple, Cardano, Solana, and Shiba¬†I...",Ethereum Ripple Cardano Solana and Shiba Inu,NaN
106817,2022-05-14 23:58:48+00:00,"Siapa yang jadi bini leeteuk, memang untung. K...",Siapa yang jadi bini leeteuk memang untung Kal...,NaN
106818,2022-05-14 23:59:49+00:00,"5) Gubernur NY Kathy Hochul : ""Tidak ada yg dp...","5 ) Gubernur NY Kathy Hochul "" Tidak ada yg dp...",NaN
106819,2022-05-14 23:59:59+00:00,The IG Ada get me cuz I added the olive one to...,The IG Ada get me cuz I added the olive one to...,NaN
106820,date,tweet,tweet,NaN

In [23]:
flair_processed_cardano_test.to_csv('flair_processed_cardano_test_data')
pd.read_csv('flair_processed_cardano_test_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-28 12:30:01+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,NaN
1,2022-04-28 12:30:03+00:00,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,_ Kalo ga salah izin nya itu panjang dan ribet...,NaN
2,2022-04-28 12:30:15+00:00,@InputOutputHK I‚Äôm asking for a fren wen Carda...,I am asking for a fren wen Cardano above a sta...,NaN
3,2022-04-28 12:31:27+00:00,Info tempat nongkrong yg ada partnernya dong,Info tempat nongkrong yg ada partnernya dong,NaN
4,2022-04-28 12:31:44+00:00,@rrraappunzzel ada kembang api,ada kembang api,NaN
...,...,...,...,...
106816,2022-05-14 23:58:46+00:00,"Ethereum, Ripple, Cardano, Solana, and Shiba¬†I...",Ethereum Ripple Cardano Solana and Shiba Inu,NaN
106817,2022-05-14 23:58:48+00:00,"Siapa yang jadi bini leeteuk, memang untung. K...",Siapa yang jadi bini leeteuk memang untung Kal...,NaN
106818,2022-05-14 23:59:49+00:00,"5) Gubernur NY Kathy Hochul : ""Tidak ada yg dp...","5 ) Gubernur NY Kathy Hochul "" Tidak ada yg dp...",NaN
106819,2022-05-14 23:59:59+00:00,The IG Ada get me cuz I added the olive one to...,The IG Ada get me cuz I added the olive one to...,NaN
106820,date,tweet,tweet,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106821/106821 [00:06<00:00, 15922.26it/s]

process time :  6.756030082702637

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106821/106821 [00:07<00:00, 13766.77it/s]

vader sentimental time :  7.763683080673218

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106821/106821 [00:06<00:00, 15822.87it/s]

process time :  6.798435926437378

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106821/106821 [00:09<00:00, 11456.27it/s]

textblob sentimental time :  9.325067043304443

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-28 12:30:01+00:00,Follow us to receive Premium Signals from Top ...,follow us to receive premium signals from top ...,0.7034,0.45
1,2022-04-28 12:30:03+00:00,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,_ kalo ga salah izin nya itu panjang dan ribet...,0.0000,0.00
2,2022-04-28 12:30:15+00:00,@InputOutputHK I‚Äôm asking for a fren wen Carda...,i am asking for a fren wen cardano above a sta...,0.2960,0.00
3,2022-04-28 12:31:27+00:00,Info tempat nongkrong yg ada partnernya dong,info tempat nongkrong yg ada partnernya dong,0.0000,0.00
4,2022-04-28 12:31:44+00:00,@rrraappunzzel ada kembang api,ada kembang api,0.0000,0.00
...,...,...,...,...,...
106816,2022-05-14 23:58:46+00:00,"Ethereum, Ripple, Cardano, Solana, and Shiba¬†I...",ethereum ripple cardano solana and shiba inu,0.0000,0.00
106817,2022-05-14 23:58:48+00:00,"Siapa yang jadi bini leeteuk, memang untung. K...",siapa yang jadi bini leeteuk memang untung kal...,0.0000,0.00
106818,2022-05-14 23:59:49+00:00,"5) Gubernur NY Kathy Hochul : ""Tidak ada yg dp...","5 ) gubernur ny kathy hochul "" tidak ada yg dp...",0.0000,0.00
106819,2022-05-14 23:59:59+00:00,The IG Ada get me cuz I added the olive one to...,the ig ada get me cuz i added the olive one to...,0.0000,0.00
106820,date,tweet,tweet,0.0000,0.00

In [27]:
vader_textblob_cardano_test_data = sentimental_tweet.twitter_data
vader_textblob_cardano_test_data.to_csv('vader_textblob_cardano_test_data')
pd.read_csv('vader_textblob_cardano_test_data')

,Unnamed: 0,date,tweet,clean_text,vader,textblob
0,0,2022-04-28 12:30:01+00:00,Follow us to receive Premium Signals from Top ...,follow us to receive premium signals from top ...,0.7034,0.45
1,1,2022-04-28 12:30:03+00:00,@arzyprass_ @sedangberjulid @rezarezarezare Ka...,_ kalo ga salah izin nya itu panjang dan ribet...,0.0000,0.00
2,2,2022-04-28 12:30:15+00:00,@InputOutputHK I‚Äôm asking for a fren wen Carda...,i am asking for a fren wen cardano above a sta...,0.2960,0.00
3,3,2022-04-28 12:31:27+00:00,Info tempat nongkrong yg ada partnernya dong,info tempat nongkrong yg ada partnernya dong,0.0000,0.00
4,4,2022-04-28 12:31:44+00:00,@rrraappunzzel ada kembang api,ada kembang api,0.0000,0.00
...,...,...,...,...,...,...
106816,106816,2022-05-14 23:58:46+00:00,"Ethereum, Ripple, Cardano, Solana, and Shiba¬†I...",ethereum ripple cardano solana and shiba inu,0.0000,0.00
106817,106817,2022-05-14 23:58:48+00:00,"Siapa yang jadi bini leeteuk, memang untung. K...",siapa yang jadi bini leeteuk memang untung kal...,0.0000,0.00
106818,106818,2022-05-14 23:59:49+00:00,"5) Gubernur NY Kathy Hochul : ""Tidak ada yg dp...","5 ) gubernur ny kathy hochul "" tidak ada yg dp...",0.0000,0.00
106819,106819,2022-05-14 23:59:59+00:00,The IG Ada get me cuz I added the olive one to...,the ig ada get me cuz i added the olive one to...,0.0000,0.00
106820,106820,date,tweet,tweet,0.0000,0.00