# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ import

In [1]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis
from sentimentalAnalysis import sentimental_analysis

## 2.1 POLYGON Train Data - Processed for Flair

- Ï†ÑÏ≤òÎ¶¨ Ïù¥ÌõÑ ÍπÄÎèÑÏòÅ ÌïôÏö∞ÏóêÍ≤å Ï†ÑÎã¨ÌïòÏó¨ ÌïôÏäµÌï† Îç∞Ïù¥ÌÑ∞
- 2022.04.13~2022.04.27

In [2]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
polygon_df = []

for i in range(14,29):
    polygon_df.append(pd.read_csv('./polygon/polygon OR matic_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

polygon_data = d_concat.concat(polygon_df)

In [3]:
polygon_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [4]:
polygon_data= polygon_data.dropna()
polygon_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [5]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
polygon_data = polygon_data.sort_values('date').reset_index(drop=True)
polygon_data.to_csv('polygon_train_data')
polygon_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-13 03:23:45+00:00,1502316633091887104,NoMonkeyToken,NoMonkeyToken,@ibm_143 https://t.co/kPcf7h2Xc6,0,0,299,594
1,2022-04-13 03:26:42+00:00,339250688,Gary Lee,GLee248,@TylerSCrypto Matic,0,0,18,72
2,2022-04-13 03:27:47+00:00,702707032999112707,Deverick Crippen,dcrippengv,Polygon Is Going Carbon Negative in 2022 With ...,1,0,445,2812
3,2022-04-13 03:30:12+00:00,1357036763039076352,Richard Mifflin,Rmifflin80,@Shibtoken #thankyouRobinhood. ...,1,8,18,138
4,2022-04-13 03:31:13+00:00,1086688764422995971,ùôèùôçùôÄùôâùòøùôéùòæùòºùôâ.ùôâùôÄùôè üíßÔ∏é,ScanTrend,Polygon Ecosystem Vows to Go Carbon Negative i...,0,0,2389,21
...,...,...,...,...,...,...,...,...,...
17183,2022-04-27 23:49:22+00:00,2780476439,scuffed.eth,zscuffed,@MoneyPlaneIdol especially the ones on polygon...,0,1,20481,3895
17184,2022-04-27 23:52:52+00:00,2723800747,NFT0s,NFT0s,crypto punk Music Member1980\n\n@ c h?\n\nhttp...,1,2,2413,2243
17185,2022-04-27 23:55:25+00:00,29103723,AliAwesome,Alitig1,**Attention all faction members... are you rea...,3,15,306,1615
17186,2022-04-27 23:55:34+00:00,1459234075340857355,Lars,leydse_,@fakeTakeDump @Darraghman1 https://t.co/rubdDR...,0,1,178,1418
17187,2022-04-27 23:59:01+00:00,369850113,üá¨üá≠JoeGhüá¨üá≠,DaGhanaianAlpha,@CheshireRed68 @Higginbotham05 @sani_atk @lian...,0,1,1846,718

In [6]:
flair_polygon = polygon_data[['date','tweet']]

In [7]:
sentimental_tweet = sentimental_analysis(flair_polygon)

In [8]:
sentimental_tweet.process('flair')
flair_processed_polygon = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_polygon

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17188/17188 [00:00<00:00, 18593.81it/s]

process time :  0.9447650909423828

,date,tweet,clean_text,flair
0,2022-04-13 03:23:45+00:00,@ibm_143 https://t.co/kPcf7h2Xc6,_143,NaN
1,2022-04-13 03:26:42+00:00,@TylerSCrypto Matic,Matic,NaN
2,2022-04-13 03:27:47+00:00,Polygon Is Going Carbon Negative in 2022 With ...,Polygon Is Going Carbon Negative in 2022 With ...,NaN
3,2022-04-13 03:30:12+00:00,@Shibtoken #thankyouRobinhood. ...,NaN,NaN
4,2022-04-13 03:31:13+00:00,Polygon Ecosystem Vows to Go Carbon Negative i...,Polygon Ecosystem Vows to Go Carbon Negative i...,NaN
...,...,...,...,...
17183,2022-04-27 23:49:22+00:00,@MoneyPlaneIdol especially the ones on polygon...,especially the ones on polygon i cant pass up ...,NaN
17184,2022-04-27 23:52:52+00:00,crypto punk Music Member1980\n\n@ c h?\n\nhttp...,crypto punk Music Member 1980 @ c h,NaN
17185,2022-04-27 23:55:25+00:00,**Attention all faction members... are you rea...,* * Attention all faction members are you read...,NaN
17186,2022-04-27 23:55:34+00:00,@fakeTakeDump @Darraghman1 https://t.co/rubdDR...,NaN,NaN
17187,2022-04-27 23:59:01+00:00,@CheshireRed68 @Higginbotham05 @sani_atk @lian...,_atk 2017/18 season Matic first season Pog was...,NaN

In [9]:
flair_processed_polygon.to_csv('flair_processed_polygon_train_data')

In [10]:
pd.read_csv('flair_processed_polygon_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-13 03:23:45+00:00,@ibm_143 https://t.co/kPcf7h2Xc6,_143,NaN
1,2022-04-13 03:26:42+00:00,@TylerSCrypto Matic,Matic,NaN
2,2022-04-13 03:27:47+00:00,Polygon Is Going Carbon Negative in 2022 With ...,Polygon Is Going Carbon Negative in 2022 With ...,NaN
3,2022-04-13 03:30:12+00:00,@Shibtoken #thankyouRobinhood. ...,NaN,NaN
4,2022-04-13 03:31:13+00:00,Polygon Ecosystem Vows to Go Carbon Negative i...,Polygon Ecosystem Vows to Go Carbon Negative i...,NaN
...,...,...,...,...
17183,2022-04-27 23:49:22+00:00,@MoneyPlaneIdol especially the ones on polygon...,especially the ones on polygon i cant pass up ...,NaN
17184,2022-04-27 23:52:52+00:00,crypto punk Music Member1980\n\n@ c h?\n\nhttp...,crypto punk Music Member 1980 @ c h,NaN
17185,2022-04-27 23:55:25+00:00,**Attention all faction members... are you rea...,* * Attention all faction members are you read...,NaN
17186,2022-04-27 23:55:34+00:00,@fakeTakeDump @Darraghman1 https://t.co/rubdDR...,NaN,NaN
17187,2022-04-27 23:59:01+00:00,@CheshireRed68 @Higginbotham05 @sani_atk @lian...,_atk 2017/18 season Matic first season Pog was...,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [11]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17188/17188 [00:00<00:00, 19171.22it/s]

process time :  0.9046838283538818

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17188/17188 [00:01<00:00, 11852.86it/s]

textblob sentimental time :  1.450943946838379

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [12]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17188/17188 [00:00<00:00, 19333.80it/s]

process time :  0.8962960243225098

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17188/17188 [00:01<00:00, 17155.03it/s]

vader sentimental time :  1.008641004562378

In [13]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:23:45+00:00,@ibm_143 https://t.co/kPcf7h2Xc6,_143,0.0000,0.000
1,2022-04-13 03:26:42+00:00,@TylerSCrypto Matic,Matic,0.0000,0.000
2,2022-04-13 03:27:47+00:00,Polygon Is Going Carbon Negative in 2022 With ...,Polygon Is Going Carbon Negative in 2022 With ...,-0.5719,-0.300
3,2022-04-13 03:30:12+00:00,@Shibtoken #thankyouRobinhood. ...,NaN,0.0000,0.000
4,2022-04-13 03:31:13+00:00,Polygon Ecosystem Vows to Go Carbon Negative i...,Polygon Ecosystem Vows to Go Carbon Negative i...,-0.5719,-0.150
...,...,...,...,...,...
17183,2022-04-27 23:49:22+00:00,@MoneyPlaneIdol especially the ones on polygon...,especially the ones on polygon i cant pass up ...,-0.3412,0.350
17184,2022-04-27 23:52:52+00:00,crypto punk Music Member1980\n\n@ c h?\n\nhttp...,crypto punk Music Member 1980 @ c h,0.0000,0.000
17185,2022-04-27 23:55:25+00:00,**Attention all faction members... are you rea...,* * Attention all faction members are you read...,0.3612,0.100
17186,2022-04-27 23:55:34+00:00,@fakeTakeDump @Darraghman1 https://t.co/rubdDR...,NaN,0.0000,0.000
17187,2022-04-27 23:59:01+00:00,@CheshireRed68 @Higginbotham05 @sani_atk @lian...,_atk 2017/18 season Matic first season Pog was...,0.5859,0.575

In [14]:
vader_textblob_polygon_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_polygon_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:23:45+00:00,@ibm_143 https://t.co/kPcf7h2Xc6,_143,0.0000,0.000
1,2022-04-13 03:26:42+00:00,@TylerSCrypto Matic,Matic,0.0000,0.000
2,2022-04-13 03:27:47+00:00,Polygon Is Going Carbon Negative in 2022 With ...,Polygon Is Going Carbon Negative in 2022 With ...,-0.5719,-0.300
3,2022-04-13 03:30:12+00:00,@Shibtoken #thankyouRobinhood. ...,NaN,0.0000,0.000
4,2022-04-13 03:31:13+00:00,Polygon Ecosystem Vows to Go Carbon Negative i...,Polygon Ecosystem Vows to Go Carbon Negative i...,-0.5719,-0.150
...,...,...,...,...,...
17183,2022-04-27 23:49:22+00:00,@MoneyPlaneIdol especially the ones on polygon...,especially the ones on polygon i cant pass up ...,-0.3412,0.350
17184,2022-04-27 23:52:52+00:00,crypto punk Music Member1980\n\n@ c h?\n\nhttp...,crypto punk Music Member 1980 @ c h,0.0000,0.000
17185,2022-04-27 23:55:25+00:00,**Attention all faction members... are you rea...,* * Attention all faction members are you read...,0.3612,0.100
17186,2022-04-27 23:55:34+00:00,@fakeTakeDump @Darraghman1 https://t.co/rubdDR...,NaN,0.0000,0.000
17187,2022-04-27 23:59:01+00:00,@CheshireRed68 @Higginbotham05 @sani_atk @lian...,_atk 2017/18 season Matic first season Pog was...,0.5859,0.575

In [15]:
vader_textblob_polygon_data.to_csv('vader_textblob_polygon_train_data')

## 2.1 POLYGON Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
polygon_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    polygon_test_df.append(pd.read_csv('./polygon/polygon OR matic_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
polygon_test_df.append(pd.read_csv('./polygon/polygon OR matic_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
polygon_test_data = d_concat.concat(polygon_test_df)
polygon_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-30 23:58:19+00:00,354396748,Rick Boyle,RickBoyle1,@pip316 @SteeIerNation Sucko matic in the last...,0,0,292,470
1,2022-04-30 23:55:27+00:00,1362807118303141888,Bonsaiü¶áüîä,CryptoBonsai33,"@SBF_FTX prefers SOL over Polygon, why?",0,0,149,1102
2,2022-04-30 23:50:46+00:00,1513930554340749324,KadupulZahori,KadupulZahori,"""Asia""\nKadupulZahori. NFTs Art \nAvailable o...",0,0,6,14
3,2022-04-30 23:50:00+00:00,1489987075369750533,SneakerheadNFT,nft_sneakerhead,Less than one hour left to collect the ‚ÄúFriend...,0,2,1427,1912
4,2022-04-30 23:49:41+00:00,1516375957573099520,FreshMintzNFTs,FreshMintzNFTs,Check out my new NFT on OpenSea! https://t.co/...,0,1,18,107
...,...,...,...,...,...,...,...,...,...
47501,2022-04-29 03:04:26+00:00,1376728878,Techado,shreetanu85,"Price discussion fun , Racing Pegas , converti...",0,15,220,32
47502,2022-04-29 03:03:27+00:00,1479794467561517059,Cameron,CmurkNFT,@1PrecentclubNFT Here‚Äôs a 1/1 #NFT titled ‚ÄúTig...,0,4,793,1136
47503,2022-04-29 03:03:25+00:00,748627314,blueblacktracks.the,lamonte_evans,The bid is open no reserve now NFT on OpenSea!...,0,1,678,657
47504,2022-04-29 03:00:55+00:00,1476433767107469312,Abztrctz,abztrctz,valance / Chapter I / Elypsis / 07 #nft #nfts ...,0,0,168,5
47505,2022-04-29 03:00:15+00:00,1001493700696920064,Just A Polar Bear,coffeeonthebus,"@devchart Even a ""solid"" alt like $MATIC is du...",0,1,263,82

In [17]:
polygon_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [18]:
polygon_test_data = polygon_test_data.dropna()
polygon_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
polygon_test_data = polygon_test_data.sort_values('date').reset_index(drop=True)
polygon_test_data.to_csv('polygon_test_data')
polygon_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-29 03:00:15+00:00,1001493700696920064,Just A Polar Bear,coffeeonthebus,"@devchart Even a ""solid"" alt like $MATIC is du...",0,1,263,82
1,2022-04-29 03:00:15+00:00,1001493700696920064,Just A Polar Bear,coffeeonthebus,"@devchart Even a ""solid"" alt like $MATIC is du...",0,1,264,83
2,2022-04-29 03:00:55+00:00,1476433767107469312,Abztrctz,abztrctz,valance / Chapter I / Elypsis / 07 #nft #nfts ...,0,0,168,5
3,2022-04-29 03:00:55+00:00,1476433767107469312,Abztrctz,abztrctz,valance / Chapter I / Elypsis / 07 #nft #nfts ...,0,0,167,5
4,2022-04-29 03:03:25+00:00,748627314,blueblacktracks.the,lamonte_evans,The bid is open no reserve now NFT on OpenSea!...,0,1,678,659
...,...,...,...,...,...,...,...,...,...
47501,2022-05-14 23:58:01+00:00,782240324156583936,Narciso Pedro,narcisopedro26,Check out my new NFT on OpenSea! https://t.co/...,0,11,76,37
47502,2022-05-14 23:58:26+00:00,1518754743006416897,Global_Curator,Curator_Global,Check out this item on OpenSea https://t.co/po...,0,0,476,2724
47503,2022-05-14 23:59:43+00:00,1513280095447879688,Dylan Patrick Connell,DYLANWINSMONEY,@NFT_C0LLECT0RS https://t.co/YUaqwTyjfQ,0,0,262,4997
47504,2022-05-14 23:59:55+00:00,1518754743006416897,Global_Curator,Curator_Global,Check out this item on OpenSea https://t.co/ju...,0,0,476,2724
47505,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [20]:
flair_test_polygon = polygon_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_polygon)

In [22]:
sentimental_tweet.process('flair')
flair_processed_polygon_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_polygon_test

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 47506/47506 [00:02<00:00, 18983.56it/s]

process time :  2.533112049102783

,date,tweet,clean_text,flair
0,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","Even a "" solid "" alt like $ MATIC is dumping l...",NaN
1,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","Even a "" solid "" alt like $ MATIC is dumping l...",NaN
2,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / Chapter I / Elypsis / 07,NaN
3,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / Chapter I / Elypsis / 07,NaN
4,2022-04-29 03:03:25+00:00,The bid is open no reserve now NFT on OpenSea!...,The bid is open no reserve now NFT on OpenSea via,NaN
...,...,...,...,...
47501,2022-05-14 23:58:01+00:00,Check out my new NFT on OpenSea! https://t.co/...,Check out my new NFT on OpenSea via,NaN
47502,2022-05-14 23:58:26+00:00,Check out this item on OpenSea https://t.co/po...,Check out this item on OpenSea via,NaN
47503,2022-05-14 23:59:43+00:00,@NFT_C0LLECT0RS https://t.co/YUaqwTyjfQ,_C0LLECT0RS,NaN
47504,2022-05-14 23:59:55+00:00,Check out this item on OpenSea https://t.co/ju...,Check out this item on OpenSea via,NaN
47505,date,tweet,tweet,NaN

In [23]:
flair_processed_polygon_test.to_csv('flair_processed_polygon_test_data')
pd.read_csv('flair_processed_polygon_test_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","Even a "" solid "" alt like $ MATIC is dumping l...",NaN
1,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","Even a "" solid "" alt like $ MATIC is dumping l...",NaN
2,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / Chapter I / Elypsis / 07,NaN
3,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / Chapter I / Elypsis / 07,NaN
4,2022-04-29 03:03:25+00:00,The bid is open no reserve now NFT on OpenSea!...,The bid is open no reserve now NFT on OpenSea via,NaN
...,...,...,...,...
47501,2022-05-14 23:58:01+00:00,Check out my new NFT on OpenSea! https://t.co/...,Check out my new NFT on OpenSea via,NaN
47502,2022-05-14 23:58:26+00:00,Check out this item on OpenSea https://t.co/po...,Check out this item on OpenSea via,NaN
47503,2022-05-14 23:59:43+00:00,@NFT_C0LLECT0RS https://t.co/YUaqwTyjfQ,_C0LLECT0RS,NaN
47504,2022-05-14 23:59:55+00:00,Check out this item on OpenSea https://t.co/ju...,Check out this item on OpenSea via,NaN
47505,date,tweet,tweet,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 47506/47506 [00:02<00:00, 19086.21it/s]

process time :  2.5087029933929443

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 47506/47506 [00:02<00:00, 17181.18it/s]

vader sentimental time :  2.7694289684295654

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 47506/47506 [00:02<00:00, 19307.63it/s]

process time :  2.4778201580047607

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 47506/47506 [00:03<00:00, 12016.80it/s]

textblob sentimental time :  3.954188108444214

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","even a "" solid "" alt like $ matic is dumping l...",0.5106,0.100000
1,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","even a "" solid "" alt like $ matic is dumping l...",0.5106,0.100000
2,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / chapter i / elypsis / 07,0.0000,0.000000
3,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / chapter i / elypsis / 07,0.0000,0.000000
4,2022-04-29 03:03:25+00:00,The bid is open no reserve now NFT on OpenSea!...,the bid is open no reserve now nft on opensea via,-0.2960,0.000000
...,...,...,...,...,...
47501,2022-05-14 23:58:01+00:00,Check out my new NFT on OpenSea! https://t.co/...,check out my new nft on opensea via,0.0000,0.136364
47502,2022-05-14 23:58:26+00:00,Check out this item on OpenSea https://t.co/po...,check out this item on opensea via,0.0000,0.000000
47503,2022-05-14 23:59:43+00:00,@NFT_C0LLECT0RS https://t.co/YUaqwTyjfQ,_c0llect0rs,0.0000,0.000000
47504,2022-05-14 23:59:55+00:00,Check out this item on OpenSea https://t.co/ju...,check out this item on opensea via,0.0000,0.000000
47505,date,tweet,tweet,0.0000,0.000000

In [27]:
vader_textblob_polygon_test_data = sentimental_tweet.twitter_data
vader_textblob_polygon_test_data.to_csv('vader_textblob_polygon_test_data')
pd.read_csv('vader_textblob_polygon_test_data')

,Unnamed: 0,date,tweet,clean_text,vader,textblob
0,0,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","even a "" solid "" alt like $ matic is dumping l...",0.5106,0.100000
1,1,2022-04-29 03:00:15+00:00,"@devchart Even a ""solid"" alt like $MATIC is du...","even a "" solid "" alt like $ matic is dumping l...",0.5106,0.100000
2,2,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / chapter i / elypsis / 07,0.0000,0.000000
3,3,2022-04-29 03:00:55+00:00,valance / Chapter I / Elypsis / 07 #nft #nfts ...,valance / chapter i / elypsis / 07,0.0000,0.000000
4,4,2022-04-29 03:03:25+00:00,The bid is open no reserve now NFT on OpenSea!...,the bid is open no reserve now nft on opensea via,-0.2960,0.000000
...,...,...,...,...,...,...
47501,47501,2022-05-14 23:58:01+00:00,Check out my new NFT on OpenSea! https://t.co/...,check out my new nft on opensea via,0.0000,0.136364
47502,47502,2022-05-14 23:58:26+00:00,Check out this item on OpenSea https://t.co/po...,check out this item on opensea via,0.0000,0.000000
47503,47503,2022-05-14 23:59:43+00:00,@NFT_C0LLECT0RS https://t.co/YUaqwTyjfQ,_c0llect0rs,0.0000,0.000000
47504,47504,2022-05-14 23:59:55+00:00,Check out this item on OpenSea https://t.co/ju...,check out this item on opensea via,0.0000,0.000000
47505,47505,date,tweet,tweet,0.0000,0.000000