# 필요한 라이브러리 import

In [1]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis
from sentimentalAnalysis import sentimental_analysis

## 2.1 SIC Train Data - Processed for Flair

- 전처리 이후 김도영 학우에게 전달하여 학습할 데이터
- 2022.04.13~2022.04.27

In [2]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
siacoin_df = []

for i in range(14,29):
    siacoin_df.append(pd.read_csv('./siacoin/SC OR siacoin_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

siacoin_data = d_concat.concat(siacoin_df)

In [3]:
siacoin_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [4]:
siacoin_data= siacoin_data.dropna()
siacoin_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [5]:
# 데이터 저장
siacoin_data = siacoin_data.sort_values('date').reset_index(drop=True)
siacoin_data.to_csv('siacoin_train_data')
siacoin_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-16 22:12:25+00:00,575197117,Crypto Signal Mall,TopPaidSignals,is BTC following GMT or GMT following BTC ?\n-...,0,0,480,230
1,2022-04-25 07:08:32+00:00,575197117,Crypto Signal Mall,TopPaidSignals,Life is good when you win a trade no matter bu...,0,0,520,232

In [6]:
flair_siacoin = siacoin_data[['date','tweet']]

In [7]:
sentimental_tweet = sentimental_analysis(flair_siacoin)

In [8]:
sentimental_tweet.process('flair')
flair_processed_siacoin = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_siacoin

100%|████████████████████████████████████████████| 2/2 [00:00<00:00, 211.19it/s]

process time :  0.031295061111450195

,date,tweet,clean_text,flair
0,2022-04-16 22:12:25+00:00,is BTC following GMT or GMT following BTC ?\n-...,is BTC following GMT or GMT following BTC Tele...,NaN
1,2022-04-25 07:08:32+00:00,Life is good when you win a trade no matter bu...,Life is good when you win a trade no matter bu...,NaN

In [9]:
flair_processed_siacoin.to_csv('flair_processed_siacoin_train_data')

In [10]:
pd.read_csv('flair_processed_siacoin_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-16 22:12:25+00:00,is BTC following GMT or GMT following BTC ?\n-...,is BTC following GMT or GMT following BTC Tele...,NaN
1,2022-04-25 07:08:32+00:00,Life is good when you win a trade no matter bu...,Life is good when you win a trade no matter bu...,NaN

## 2.2 Vader, Textblob 감성분석 진행

- Textblob 감성 분석

In [11]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|███████████████████████████████████████████| 2/2 [00:00<00:00, 1692.96it/s]

process time :  0.004428863525390625

100%|█████████████████████████████████████████████| 2/2 [00:00<00:00, 70.26it/s]

textblob sentimental time :  0.029549837112426758

- Vader 감성 분석

In [12]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|███████████████████████████████████████████| 2/2 [00:00<00:00, 2872.81it/s]

process time :  0.003464221954345703

100%|███████████████████████████████████████████| 2/2 [00:00<00:00, 3272.96it/s]

vader sentimental time :  0.007519245147705078

In [13]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-16 22:12:25+00:00,is BTC following GMT or GMT following BTC ?\n-...,is BTC following GMT or GMT following BTC Tele...,0.5106,0.00
1,2022-04-25 07:08:32+00:00,Life is good when you win a trade no matter bu...,Life is good when you win a trade no matter bu...,0.8360,0.75

In [14]:
vader_textblob_siacoin_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_siacoin_data

,date,tweet,clean_text,vader,textblob
0,2022-04-16 22:12:25+00:00,is BTC following GMT or GMT following BTC ?\n-...,is BTC following GMT or GMT following BTC Tele...,0.5106,0.00
1,2022-04-25 07:08:32+00:00,Life is good when you win a trade no matter bu...,Life is good when you win a trade no matter bu...,0.8360,0.75

In [15]:
vader_textblob_siacoin_data.to_csv('vader_textblob_csiacoin_train_data')

## 2.1 SIACOIN Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
siacoin_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    siacoin_test_df.append(pd.read_csv('./siacoin/SC OR siacoin_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
siacoin_test_df.append(pd.read_csv('./siacoin/SC OR siacoin_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
siacoin_test_data = d_concat.concat(siacoin_test_df)
siacoin_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [17]:
siacoin_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [18]:
siacoin_test_data = siacoin_test_data.dropna()
siacoin_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# 데이터 저장
siacoin_test_data = siacoin_test_data.sort_values('date').reset_index(drop=True)
siacoin_test_data.to_csv('siacoin_test_data')
siacoin_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [20]:
flair_test_siacoin = siacoin_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_siacoin)

In [22]:
sentimental_tweet.process('flair')
flair_processed_siacoin_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_siacoin_test

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 3688.92it/s]

process time :  0.002827882766723633

   date  tweet clean_text  flair
0  date  tweet      tweet    NaN

In [23]:
flair_processed_siacoin_test.to_csv('flair_processed_siacoin_test_data')
pd.read_csv('flair_processed_siacoin_test_data').drop('Unnamed: 0',axis=1)

   date  tweet clean_text  flair
0  date  tweet      tweet    NaN

## 2.2 Vader, Textblob 감성분석 진행

- Vader 감성 분석

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 4975.45it/s]

process time :  0.002871990203857422

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 2786.91it/s]

vader sentimental time :  0.006186246871948242

- Textblob 감성 분석

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 3647.22it/s]

process time :  0.0039038658142089844

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 2933.08it/s]

textblob sentimental time :  0.0012080669403076172

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

   date  tweet clean_text  vader  textblob
0  date  tweet      tweet    0.0       0.0

In [27]:
vader_textblob_siacoin_test_data = sentimental_tweet.twitter_data
vader_textblob_siacoin_test_data.to_csv('vader_textblob_siacoin_test_data')
pd.read_csv('vader_textblob_siacoin_test_data')

   Unnamed: 0  date  tweet clean_text  vader  textblob
0           0  date  tweet      tweet    0.0       0.0