# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ import

In [1]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis
from sentimentalAnalysis import sentimental_analysis

## 2.1 WAVES Train Data - Processed for Flair

- Ï†ÑÏ≤òÎ¶¨ Ïù¥ÌõÑ ÍπÄÎèÑÏòÅ ÌïôÏö∞ÏóêÍ≤å Ï†ÑÎã¨ÌïòÏó¨ ÌïôÏäµÌï† Îç∞Ïù¥ÌÑ∞
- 2022.04.13~2022.04.27

In [2]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
waves_df = []

for i in range(14,29):
    waves_df.append(pd.read_csv('./waves/waves_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
    waves_df.append(pd.read_csv('./waves/waves coin_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

waves_data = d_concat.concat(waves_df)

In [3]:
waves_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [4]:
waves_data= waves_data.dropna()
waves_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [5]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
waves_data = waves_data.sort_values('date').reset_index(drop=True)
waves_data.to_csv('waves_train_data')
waves_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-13 03:25:12+00:00,4803734364,Adam Scherer,ShipMyMoneyDFS,@FFAaroneous His tweet said ‚Äúimmediately waves...,0,0,24319,480
1,2022-04-13 03:26:18+00:00,1394887928648634369,Dadx2,Dave99117584,@wherewereweb4 Future Omicron waves will be ba...,0,0,50,598
2,2022-04-13 03:32:29+00:00,858343969113219073,Buni (COMISSIONS CLOSED),ShadowRabbit89,Theodore also gets overstimulated when he hear...,0,4,279,470
3,2022-04-13 03:33:37+00:00,1288291753787826178,Wilberforce Men‚Äôs Basketball,TheForce1856,After today‚Äôs news I‚Äôm exhausted but I‚Äôm gonna...,0,26,2931,1747
4,2022-04-13 03:37:06+00:00,169733094,gerald zuckier,gzuckier,@MAGA_Translator @kbmullen5 @DrLeanaWen @Radio...,0,2,761,1782
...,...,...,...,...,...,...,...,...,...
8625,2022-04-27 23:55:53+00:00,832415740913258497,Shari Goll,shariagseattle,Check out this listing I just added to my #Pos...,0,0,725,373
8626,2022-04-27 23:57:24+00:00,798922843593592832,Matt Rosen,RosenLab,@FinitePhysicist Frank Crawford's Waves.,0,1,2411,2689
8627,2022-04-27 23:57:38+00:00,902898245835251717,Donquixote Gio,gios_waves,I know I said it but I really cant wait til so...,0,1,129,138
8628,2022-04-27 23:57:47+00:00,385796012,cvncer,TheRealCancer,Instagram bitches riding waves they eating dick,0,0,630,511
8629,2022-04-27 23:59:02+00:00,902898245835251717,Donquixote Gio,gios_waves,FUCK ALL DRYWALLERS fuck every single one of t...,0,0,129,138

In [6]:
flair_waves = waves_data[['date','tweet']]

In [7]:
sentimental_tweet = sentimental_analysis(flair_waves)

In [8]:
sentimental_tweet.process('flair')
flair_processed_waves = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_waves

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8630/8630 [00:00<00:00, 12420.61it/s]

process time :  0.7124018669128418

,date,tweet,clean_text,flair
0,2022-04-13 03:25:12+00:00,@FFAaroneous His tweet said ‚Äúimmediately waves...,His tweet said immediately waves it off which ...,NaN
1,2022-04-13 03:26:18+00:00,@wherewereweb4 Future Omicron waves will be ba...,Future Omicron waves will be barely a blip in ...,NaN
2,2022-04-13 03:32:29+00:00,Theodore also gets overstimulated when he hear...,Theodore also gets overstimulated when he hear...,NaN
3,2022-04-13 03:33:37+00:00,After today‚Äôs news I‚Äôm exhausted but I‚Äôm gonna...,After today's news I am exhausted but I am goi...,NaN
4,2022-04-13 03:37:06+00:00,@MAGA_Translator @kbmullen5 @DrLeanaWen @Radio...,_Translator 1 Some deaths will be avoided by m...,NaN
...,...,...,...,...
8625,2022-04-27 23:55:53+00:00,Check out this listing I just added to my #Pos...,Check out this listing I just added to my clos...,NaN
8626,2022-04-27 23:57:24+00:00,@FinitePhysicist Frank Crawford's Waves.,Frank Crawford's Waves,NaN
8627,2022-04-27 23:57:38+00:00,I know I said it but I really cant wait til so...,I know I said it but I really cant wait til so...,NaN
8628,2022-04-27 23:57:47+00:00,Instagram bitches riding waves they eating dick,Instagram bitches riding waves they eating dick,NaN
8629,2022-04-27 23:59:02+00:00,FUCK ALL DRYWALLERS fuck every single one of t...,FUCK ALL DRYWALLERS fuck every single one of t...,NaN

In [9]:
flair_processed_waves.to_csv('flair_processed_waves_train_data')

In [10]:
pd.read_csv('flair_processed_waves_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-13 03:25:12+00:00,@FFAaroneous His tweet said ‚Äúimmediately waves...,His tweet said immediately waves it off which ...,NaN
1,2022-04-13 03:26:18+00:00,@wherewereweb4 Future Omicron waves will be ba...,Future Omicron waves will be barely a blip in ...,NaN
2,2022-04-13 03:32:29+00:00,Theodore also gets overstimulated when he hear...,Theodore also gets overstimulated when he hear...,NaN
3,2022-04-13 03:33:37+00:00,After today‚Äôs news I‚Äôm exhausted but I‚Äôm gonna...,After today's news I am exhausted but I am goi...,NaN
4,2022-04-13 03:37:06+00:00,@MAGA_Translator @kbmullen5 @DrLeanaWen @Radio...,_Translator 1 Some deaths will be avoided by m...,NaN
...,...,...,...,...
8625,2022-04-27 23:55:53+00:00,Check out this listing I just added to my #Pos...,Check out this listing I just added to my clos...,NaN
8626,2022-04-27 23:57:24+00:00,@FinitePhysicist Frank Crawford's Waves.,Frank Crawford's Waves,NaN
8627,2022-04-27 23:57:38+00:00,I know I said it but I really cant wait til so...,I know I said it but I really cant wait til so...,NaN
8628,2022-04-27 23:57:47+00:00,Instagram bitches riding waves they eating dick,Instagram bitches riding waves they eating dick,NaN
8629,2022-04-27 23:59:02+00:00,FUCK ALL DRYWALLERS fuck every single one of t...,FUCK ALL DRYWALLERS fuck every single one of t...,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [11]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8630/8630 [00:00<00:00, 12504.46it/s]

process time :  0.695681095123291

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8630/8630 [00:00<00:00, 9626.89it/s]

textblob sentimental time :  0.8974130153656006

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [12]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8630/8630 [00:00<00:00, 12394.60it/s]

process time :  0.7014029026031494

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8630/8630 [00:00<00:00, 10582.62it/s]

vader sentimental time :  0.8224482536315918

In [13]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:25:12+00:00,@FFAaroneous His tweet said ‚Äúimmediately waves...,His tweet said immediately waves it off which ...,0.0000,0.000000
1,2022-04-13 03:26:18+00:00,@wherewereweb4 Future Omicron waves will be ba...,Future Omicron waves will be barely a blip in ...,0.0000,0.025000
2,2022-04-13 03:32:29+00:00,Theodore also gets overstimulated when he hear...,Theodore also gets overstimulated when he hear...,0.2732,0.357143
3,2022-04-13 03:33:37+00:00,After today‚Äôs news I‚Äôm exhausted but I‚Äôm gonna...,After today's news I am exhausted but I am goi...,-0.1901,-0.400000
4,2022-04-13 03:37:06+00:00,@MAGA_Translator @kbmullen5 @DrLeanaWen @Radio...,_Translator 1 Some deaths will be avoided by m...,-0.3400,0.000000
...,...,...,...,...,...
8625,2022-04-27 23:55:53+00:00,Check out this listing I just added to my #Pos...,Check out this listing I just added to my clos...,0.0000,0.000000
8626,2022-04-27 23:57:24+00:00,@FinitePhysicist Frank Crawford's Waves.,Frank Crawford's Waves,0.0000,0.000000
8627,2022-04-27 23:57:38+00:00,I know I said it but I really cant wait til so...,I know I said it but I really cant wait til so...,0.7351,0.200000
8628,2022-04-27 23:57:47+00:00,Instagram bitches riding waves they eating dick,Instagram bitches riding waves they eating dick,-0.8020,0.000000
8629,2022-04-27 23:59:02+00:00,FUCK ALL DRYWALLERS fuck every single one of t...,FUCK ALL DRYWALLERS fuck every single one of t...,-0.9512,-0.478571

In [14]:
vader_textblob_waves_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_waves_data

,date,tweet,clean_text,vader,textblob
0,2022-04-13 03:25:12+00:00,@FFAaroneous His tweet said ‚Äúimmediately waves...,His tweet said immediately waves it off which ...,0.0000,0.000000
1,2022-04-13 03:26:18+00:00,@wherewereweb4 Future Omicron waves will be ba...,Future Omicron waves will be barely a blip in ...,0.0000,0.025000
2,2022-04-13 03:32:29+00:00,Theodore also gets overstimulated when he hear...,Theodore also gets overstimulated when he hear...,0.2732,0.357143
3,2022-04-13 03:33:37+00:00,After today‚Äôs news I‚Äôm exhausted but I‚Äôm gonna...,After today's news I am exhausted but I am goi...,-0.1901,-0.400000
4,2022-04-13 03:37:06+00:00,@MAGA_Translator @kbmullen5 @DrLeanaWen @Radio...,_Translator 1 Some deaths will be avoided by m...,-0.3400,0.000000
...,...,...,...,...,...
8625,2022-04-27 23:55:53+00:00,Check out this listing I just added to my #Pos...,Check out this listing I just added to my clos...,0.0000,0.000000
8626,2022-04-27 23:57:24+00:00,@FinitePhysicist Frank Crawford's Waves.,Frank Crawford's Waves,0.0000,0.000000
8627,2022-04-27 23:57:38+00:00,I know I said it but I really cant wait til so...,I know I said it but I really cant wait til so...,0.7351,0.200000
8628,2022-04-27 23:57:47+00:00,Instagram bitches riding waves they eating dick,Instagram bitches riding waves they eating dick,-0.8020,0.000000
8629,2022-04-27 23:59:02+00:00,FUCK ALL DRYWALLERS fuck every single one of t...,FUCK ALL DRYWALLERS fuck every single one of t...,-0.9512,-0.478571

In [15]:
vader_textblob_waves_data.to_csv('vader_textblob_waves_train_data')

## 2.1 WAVES Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
waves_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    waves_test_df.append(pd.read_csv('./waves/waves_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
    waves_test_df.append(pd.read_csv('./waves/waves coin_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
waves_test_df.append(pd.read_csv('./waves/waves_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
waves_test_df.append(pd.read_csv('./waves/waves coin_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
waves_test_data = d_concat.concat(waves_test_df)
waves_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-30 23:56:40+00:00,2769349911,Steven A. Kaufman,SKaufman1991,@KBeckEagles Well if not I think we will be be...,0.0,2.0,15.0,212.0
1,2022-04-30 23:55:28+00:00,1321583776565252103,Weymouth Bay Sea State,BayWeymouth,Sea is 12.9¬∞C and the air is 8.9¬∞C. 0.3m waves...,0.0,0.0,64.0,0.0
2,2022-04-30 23:55:05+00:00,1002903143728992256,Baker Tradefield,DeepSixSports,@Freshie305 Buffet did a drive by. I‚Äôve been s...,0.0,0.0,258.0,1456.0
3,2022-04-30 23:54:34+00:00,2588255376,‚Ç±‚±ß‚Ç≥‚±§‚Ç≥√ò‚±ßƒê‚Ç≥‚Ç¶‚ÇÆ‚Ç≥…Ü üá™üá¨ üê≤üî•7Ô∏è‚É£7Ô∏è‚É£7Ô∏è‚É£,pharaohdantae,üåäüåäüåä #waves #explorepage https://t.co/h4hbRx1DSe,0.0,0.0,472.0,336.0
4,2022-04-30 23:53:36+00:00,3883416257,Undark Magazine,undarkmag,"In words, images, and data, we look back at th...",0.0,0.0,63101.0,1023.0
...,...,...,...,...,...,...,...,...,...
29572,2022-04-28 12:45:30+00:00,1321583776565252103,Weymouth Bay Sea State,BayWeymouth,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,0,0,64,0
29573,2022-04-28 12:42:14+00:00,1011065112470413312,Coach Claire üèÉüèª‚Äç‚ôÄÔ∏èüíñüèÉüèª‚Äç‚ôÄÔ∏è,run_claire,@mattlegendmusic Yes definitely. Especially Ju...,0,1,1029,315
29574,2022-04-28 12:37:45+00:00,321047579,Dianne LaFortune üá®üá¶ üá∫üá¶ üò∑,lafortdi,I am so sorry for your loss. We lost my brothe...,0,0,523,1326
29575,2022-04-28 12:28:06+00:00,617861728,L1fewater ü§™,L1fewater,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,0,1,1412,588
29576,2022-04-28 12:27:33+00:00,2968436734,üÖµüÜÅüÖ≥üÖ∂üÜÅüÖΩ,_FrdGrn,"2/\n""...The sound of the waves, crashing again...",1,4,5877,2188

In [17]:
waves_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               1
retweets            1
likes               1
follower_number     1
following_number    1
dtype: int64

In [18]:
waves_test_data = waves_test_data.dropna()
waves_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
waves_test_data = waves_test_data.sort_values('date').reset_index(drop=True)
waves_test_data.to_csv('waves_test_data')
waves_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-28 12:27:33+00:00,2968436734,üÖµüÜÅüÖ≥üÖ∂üÜÅüÖΩ,_FrdGrn,"2/\n""...The sound of the waves, crashing again...",1,4,5877,2188
1,2022-04-28 12:28:06+00:00,617861728,L1fewater ü§™,L1fewater,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,0,1,1412,588
2,2022-04-28 12:37:45+00:00,321047579,Dianne LaFortune üá®üá¶ üá∫üá¶ üò∑,lafortdi,I am so sorry for your loss. We lost my brothe...,0,0,523,1326
3,2022-04-28 12:42:14+00:00,1011065112470413312,Coach Claire üèÉüèª‚Äç‚ôÄÔ∏èüíñüèÉüèª‚Äç‚ôÄÔ∏è,run_claire,@mattlegendmusic Yes definitely. Especially Ju...,0,1,1029,315
4,2022-04-28 12:45:30+00:00,1321583776565252103,Weymouth Bay Sea State,BayWeymouth,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,0,0,64,0
...,...,...,...,...,...,...,...,...,...
29571,2022-05-14 23:48:16+00:00,1091462948739051520,HFW,HudsonFarWest,"When the tide goes out, start chasing waves üåä....",0,1,241,574
29572,2022-05-14 23:54:00+00:00,26610633,Julio Rivera,Ink_not_fading,@bruins_stats 2015 draft once again waves at S...,0,2,145,212
29573,2022-05-14 23:55:28+00:00,404252807,Mr. Burns,LookN2MyLife,Kinda wish i was walking the boardwalk at Sant...,0,0,873,1025
29574,2022-05-14 23:58:58+00:00,22831232,diane #ForAll straub,didikins4life,‚ÄúThe two unoccupied homes were taken under by ...,5,1,31335,27018
29575,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [20]:
flair_test_waves =waves_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_waves)

In [22]:
sentimental_tweet.process('flair')
flair_processed_waves_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_waves_test

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 29576/29576 [00:02<00:00, 13261.71it/s]

process time :  2.2467191219329834

,date,tweet,clean_text,flair
0,2022-04-28 12:27:33+00:00,"2/\n""...The sound of the waves, crashing again...","2 / "" The sound of the waves crashing against ...",NaN
1,2022-04-28 12:28:06+00:00,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,Dude I swear the eximus waves are horrifying,NaN
2,2022-04-28 12:37:45+00:00,I am so sorry for your loss. We lost my brothe...,I am so sorry for your loss We lost my brother...,NaN
3,2022-04-28 12:42:14+00:00,@mattlegendmusic Yes definitely. Especially Ju...,Yes definitely Especially July and August can ...,NaN
4,2022-04-28 12:45:30+00:00,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,Sea is 11 3C and the air is 12 6C 0 7m waves f...,NaN
...,...,...,...,...
29571,2022-05-14 23:48:16+00:00,"When the tide goes out, start chasing waves üåä....",When the tide goes out start chasing waves Don...,NaN
29572,2022-05-14 23:54:00+00:00,@bruins_stats 2015 draft once again waves at S...,_stats 2015 draft once again waves at Sweeney,NaN
29573,2022-05-14 23:55:28+00:00,Kinda wish i was walking the boardwalk at Sant...,Kinda wish i was walking the boardwalk at Sant...,NaN
29574,2022-05-14 23:58:58+00:00,‚ÄúThe two unoccupied homes were taken under by ...,The two unoccupied homes were taken under by t...,NaN
29575,date,tweet,tweet,NaN

In [23]:
flair_processed_waves_test.to_csv('flair_processed_waves_test_data')
pd.read_csv('flair_processed_waves_test_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-28 12:27:33+00:00,"2/\n""...The sound of the waves, crashing again...","2 / "" The sound of the waves crashing against ...",NaN
1,2022-04-28 12:28:06+00:00,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,Dude I swear the eximus waves are horrifying,NaN
2,2022-04-28 12:37:45+00:00,I am so sorry for your loss. We lost my brothe...,I am so sorry for your loss We lost my brother...,NaN
3,2022-04-28 12:42:14+00:00,@mattlegendmusic Yes definitely. Especially Ju...,Yes definitely Especially July and August can ...,NaN
4,2022-04-28 12:45:30+00:00,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,Sea is 11 3C and the air is 12 6C 0 7m waves f...,NaN
...,...,...,...,...
29571,2022-05-14 23:48:16+00:00,"When the tide goes out, start chasing waves üåä....",When the tide goes out start chasing waves Don...,NaN
29572,2022-05-14 23:54:00+00:00,@bruins_stats 2015 draft once again waves at S...,_stats 2015 draft once again waves at Sweeney,NaN
29573,2022-05-14 23:55:28+00:00,Kinda wish i was walking the boardwalk at Sant...,Kinda wish i was walking the boardwalk at Sant...,NaN
29574,2022-05-14 23:58:58+00:00,‚ÄúThe two unoccupied homes were taken under by ...,The two unoccupied homes were taken under by t...,NaN
29575,date,tweet,tweet,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 29576/29576 [00:02<00:00, 13029.69it/s]

process time :  2.2813639640808105

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 29576/29576 [00:02<00:00, 10930.91it/s]

vader sentimental time :  2.709867000579834

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 29576/29576 [00:02<00:00, 13135.96it/s]

process time :  2.262578010559082

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 29576/29576 [00:02<00:00, 10413.29it/s]

textblob sentimental time :  2.841049909591675

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-28 12:27:33+00:00,"2/\n""...The sound of the waves, crashing again...","2 / "" the sound of the waves crashing against ...",0.0000,0.283333
1,2022-04-28 12:28:06+00:00,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,dude i swear the eximus waves are horrifying,-0.5994,-0.900000
2,2022-04-28 12:37:45+00:00,I am so sorry for your loss. We lost my brothe...,i am so sorry for your loss we lost my brother...,-0.8479,-0.516667
3,2022-04-28 12:42:14+00:00,@mattlegendmusic Yes definitely. Especially Ju...,yes definitely especially july and august can ...,0.6597,0.175000
4,2022-04-28 12:45:30+00:00,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,sea is 11 3c and the air is 12 6c 0 7m waves f...,0.4404,0.200000
...,...,...,...,...,...
29571,2022-05-14 23:48:16+00:00,"When the tide goes out, start chasing waves üåä....",when the tide goes out start chasing waves don...,-0.4449,0.150000
29572,2022-05-14 23:54:00+00:00,@bruins_stats 2015 draft once again waves at S...,_stats 2015 draft once again waves at sweeney,0.0000,0.000000
29573,2022-05-14 23:55:28+00:00,Kinda wish i was walking the boardwalk at Sant...,kinda wish i was walking the boardwalk at sant...,0.3415,-0.155556
29574,2022-05-14 23:58:58+00:00,‚ÄúThe two unoccupied homes were taken under by ...,the two unoccupied homes were taken under by t...,0.4215,0.320000
29575,date,tweet,tweet,0.0000,0.000000

In [27]:
vader_textblob_waves_test_data = sentimental_tweet.twitter_data
vader_textblob_waves_test_data.to_csv('vader_textblob_waves_test_data')
pd.read_csv('vader_textblob_waves_test_data')

,Unnamed: 0,date,tweet,clean_text,vader,textblob
0,0,2022-04-28 12:27:33+00:00,"2/\n""...The sound of the waves, crashing again...","2 / "" the sound of the waves crashing against ...",0.0000,0.283333
1,1,2022-04-28 12:28:06+00:00,@HamrhedCorvette @PlayWarframe @moitoi Dude I ...,dude i swear the eximus waves are horrifying,-0.5994,-0.900000
2,2,2022-04-28 12:37:45+00:00,I am so sorry for your loss. We lost my brothe...,i am so sorry for your loss we lost my brother...,-0.8479,-0.516667
3,3,2022-04-28 12:42:14+00:00,@mattlegendmusic Yes definitely. Especially Ju...,yes definitely especially july and august can ...,0.6597,0.175000
4,4,2022-04-28 12:45:30+00:00,Sea is 11.3¬∞C and the air is 12.6¬∞C. 0.7m wave...,sea is 11 3c and the air is 12 6c 0 7m waves f...,0.4404,0.200000
...,...,...,...,...,...,...
29571,29571,2022-05-14 23:48:16+00:00,"When the tide goes out, start chasing waves üåä....",when the tide goes out start chasing waves don...,-0.4449,0.150000
29572,29572,2022-05-14 23:54:00+00:00,@bruins_stats 2015 draft once again waves at S...,_stats 2015 draft once again waves at sweeney,0.0000,0.000000
29573,29573,2022-05-14 23:55:28+00:00,Kinda wish i was walking the boardwalk at Sant...,kinda wish i was walking the boardwalk at sant...,0.3415,-0.155556
29574,29574,2022-05-14 23:58:58+00:00,‚ÄúThe two unoccupied homes were taken under by ...,the two unoccupied homes were taken under by t...,0.4215,0.320000
29575,29575,date,tweet,tweet,0.0000,0.000000