# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ import

In [1]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis
from sentimentalAnalysis import sentimental_analysis

## 2.1 EOS Train Data - Processed for Flair

- Ï†ÑÏ≤òÎ¶¨ Ïù¥ÌõÑ ÍπÄÎèÑÏòÅ ÌïôÏö∞ÏóêÍ≤å Ï†ÑÎã¨ÌïòÏó¨ ÌïôÏäµÌï† Îç∞Ïù¥ÌÑ∞
- 2022.04.13~2022.04.27

In [2]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
eos_df = []

for i in range(14,29):
    eos_df.append(pd.read_csv('./eos/eos OR eosio_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

eos_data = d_concat.concat(eos_df)

In [3]:
eos_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [4]:
eos_data= eos_data.dropna()
eos_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [5]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
eos_data = eos_data.sort_values('date').reset_index(drop=True)
eos_data.to_csv('eos_train_data')
eos_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-12 21:41:29+00:00,490794284,Professor Roberts-Sanyer,ShiningCrobat,@Verse4O4 The Discord server most closely conn...,0,1,308,663
1,2022-04-12 21:42:56+00:00,253185539,Nicole Edwards üé§,NIC_416,Awesome piece: The Politics of Rihanna‚Äôs Pregn...,0,0,572,443
2,2022-04-12 21:59:25+00:00,3240606977,nTopology,nTopology,The Responsible Part Challenge 2022 is here! n...,0,1,2079,473
3,2022-04-12 22:45:00+00:00,2755310156,AGU's Eos,AGU_Eos,A new climate model suggests that conditions a...,3,5,18204,1387
4,2022-04-12 23:25:40+00:00,952956173266903040,Belly Up Sports,BellyUpSports,Houston Rockets‚Äô Round-Up: EoS TWITTER Awards ...,2,17,12397,7739
...,...,...,...,...,...,...,...,...,...
1613,2022-04-27 22:45:01+00:00,2755310156,AGU's Eos,AGU_Eos,How can tree rings reveal that severe cold and...,1,4,18229,1386
1614,2022-04-27 22:52:04+00:00,4809369503,Matt Shanley,shanley_matt,Astronomy Live with the one and only @jfaherty...,0,2,247,499
1615,2022-04-27 22:56:37+00:00,16203788,R.S. MacKinnon (he/him),TinTincognito,@KarenLevalley Sp EWE: Mountain birds on 'esc...,0,0,856,1835
1616,2022-04-27 23:27:33+00:00,776988510045732864,Jonathan Thomas,darthcrimson1,@designhilltx @BrianBergin2 @FoxNews I think h...,0,0,150,1015
1617,2022-04-27 23:30:02+00:00,575197117,Crypto Signal Mall,TopPaidSignals,Follow us to receive Premium Signals from Top ...,0,0,533,232

In [6]:
flair_eos = eos_data[['date','tweet']]

In [7]:
sentimental_tweet = sentimental_analysis(flair_eos)

In [8]:
sentimental_tweet.process('flair')
flair_processed_eos = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_eos

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1618/1618 [00:00<00:00, 12336.26it/s]

process time :  0.14450883865356445

,date,tweet,clean_text,flair
0,2022-04-12 21:41:29+00:00,@Verse4O4 The Discord server most closely conn...,The Discord server most closely connected to t...,NaN
1,2022-04-12 21:42:56+00:00,Awesome piece: The Politics of Rihanna‚Äôs Pregn...,Awesome piece The Politics of Rihanna's Pregna...,NaN
2,2022-04-12 21:59:25+00:00,The Responsible Part Challenge 2022 is here! n...,The Responsible Part Challenge 2022 is here nT...,NaN
3,2022-04-12 22:45:00+00:00,A new climate model suggests that conditions a...,A new climate model suggests that conditions a...,NaN
4,2022-04-12 23:25:40+00:00,Houston Rockets‚Äô Round-Up: EoS TWITTER Awards ...,Houston Rockets ' Round Up EoS TWITTER Awards ( ),NaN
...,...,...,...,...
1613,2022-04-27 22:45:01+00:00,How can tree rings reveal that severe cold and...,How can tree rings reveal that severe cold and...,NaN
1614,2022-04-27 22:52:04+00:00,Astronomy Live with the one and only @jfaherty...,Astronomy Live with the one and only in the Ha...,NaN
1615,2022-04-27 22:56:37+00:00,@KarenLevalley Sp EWE: Mountain birds on 'esc...,Sp EWE Mountain birds on ' escalator to extinc...,NaN
1616,2022-04-27 23:27:33+00:00,@designhilltx @BrianBergin2 @FoxNews I think h...,I think he means 7 8 Trillion added to the Nat...,NaN
1617,2022-04-27 23:30:02+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,NaN

In [9]:
flair_processed_eos.to_csv('flair_processed_eos_train_data')

In [10]:
pd.read_csv('flair_processed_eos_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-12 21:41:29+00:00,@Verse4O4 The Discord server most closely conn...,The Discord server most closely connected to t...,NaN
1,2022-04-12 21:42:56+00:00,Awesome piece: The Politics of Rihanna‚Äôs Pregn...,Awesome piece The Politics of Rihanna's Pregna...,NaN
2,2022-04-12 21:59:25+00:00,The Responsible Part Challenge 2022 is here! n...,The Responsible Part Challenge 2022 is here nT...,NaN
3,2022-04-12 22:45:00+00:00,A new climate model suggests that conditions a...,A new climate model suggests that conditions a...,NaN
4,2022-04-12 23:25:40+00:00,Houston Rockets‚Äô Round-Up: EoS TWITTER Awards ...,Houston Rockets ' Round Up EoS TWITTER Awards ( ),NaN
...,...,...,...,...
1613,2022-04-27 22:45:01+00:00,How can tree rings reveal that severe cold and...,How can tree rings reveal that severe cold and...,NaN
1614,2022-04-27 22:52:04+00:00,Astronomy Live with the one and only @jfaherty...,Astronomy Live with the one and only in the Ha...,NaN
1615,2022-04-27 22:56:37+00:00,@KarenLevalley Sp EWE: Mountain birds on 'esc...,Sp EWE Mountain birds on ' escalator to extinc...,NaN
1616,2022-04-27 23:27:33+00:00,@designhilltx @BrianBergin2 @FoxNews I think h...,I think he means 7 8 Trillion added to the Nat...,NaN
1617,2022-04-27 23:30:02+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [11]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1618/1618 [00:00<00:00, 13676.49it/s]

process time :  0.12146592140197754

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1618/1618 [00:00<00:00, 8495.84it/s]

textblob sentimental time :  0.19118618965148926

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [12]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1618/1618 [00:00<00:00, 13586.71it/s]

process time :  0.12170982360839844

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1618/1618 [00:00<00:00, 12545.91it/s]

vader sentimental time :  0.1355760097503662

In [13]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-12 21:41:29+00:00,@Verse4O4 The Discord server most closely conn...,The Discord server most closely connected to t...,-0.4019,0.500000
1,2022-04-12 21:42:56+00:00,Awesome piece: The Politics of Rihanna‚Äôs Pregn...,Awesome piece The Politics of Rihanna's Pregna...,0.6249,1.000000
2,2022-04-12 21:59:25+00:00,The Responsible Part Challenge 2022 is here! n...,The Responsible Part Challenge 2022 is here nT...,0.5267,0.350000
3,2022-04-12 22:45:00+00:00,A new climate model suggests that conditions a...,A new climate model suggests that conditions a...,-0.3818,0.318182
4,2022-04-12 23:25:40+00:00,Houston Rockets‚Äô Round-Up: EoS TWITTER Awards ...,Houston Rockets ' Round Up EoS TWITTER Awards ( ),0.4588,-0.200000
...,...,...,...,...,...
1613,2022-04-27 22:45:01+00:00,How can tree rings reveal that severe cold and...,How can tree rings reveal that severe cold and...,-0.7351,-0.300000
1614,2022-04-27 22:52:04+00:00,Astronomy Live with the one and only @jfaherty...,Astronomy Live with the one and only in the Ha...,0.0000,0.068182
1615,2022-04-27 22:56:37+00:00,@KarenLevalley Sp EWE: Mountain birds on 'esc...,Sp EWE Mountain birds on ' escalator to extinc...,0.2732,0.000000
1616,2022-04-27 23:27:33+00:00,@designhilltx @BrianBergin2 @FoxNews I think h...,I think he means 7 8 Trillion added to the Nat...,-0.3612,0.000000
1617,2022-04-27 23:30:02+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,0.7034,0.450000

In [14]:
vader_textblob_eos_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_eos_data

,date,tweet,clean_text,vader,textblob
0,2022-04-12 21:41:29+00:00,@Verse4O4 The Discord server most closely conn...,The Discord server most closely connected to t...,-0.4019,0.500000
1,2022-04-12 21:42:56+00:00,Awesome piece: The Politics of Rihanna‚Äôs Pregn...,Awesome piece The Politics of Rihanna's Pregna...,0.6249,1.000000
2,2022-04-12 21:59:25+00:00,The Responsible Part Challenge 2022 is here! n...,The Responsible Part Challenge 2022 is here nT...,0.5267,0.350000
3,2022-04-12 22:45:00+00:00,A new climate model suggests that conditions a...,A new climate model suggests that conditions a...,-0.3818,0.318182
4,2022-04-12 23:25:40+00:00,Houston Rockets‚Äô Round-Up: EoS TWITTER Awards ...,Houston Rockets ' Round Up EoS TWITTER Awards ( ),0.4588,-0.200000
...,...,...,...,...,...
1613,2022-04-27 22:45:01+00:00,How can tree rings reveal that severe cold and...,How can tree rings reveal that severe cold and...,-0.7351,-0.300000
1614,2022-04-27 22:52:04+00:00,Astronomy Live with the one and only @jfaherty...,Astronomy Live with the one and only in the Ha...,0.0000,0.068182
1615,2022-04-27 22:56:37+00:00,@KarenLevalley Sp EWE: Mountain birds on 'esc...,Sp EWE Mountain birds on ' escalator to extinc...,0.2732,0.000000
1616,2022-04-27 23:27:33+00:00,@designhilltx @BrianBergin2 @FoxNews I think h...,I think he means 7 8 Trillion added to the Nat...,-0.3612,0.000000
1617,2022-04-27 23:30:02+00:00,Follow us to receive Premium Signals from Top ...,Follow us to receive Premium Signals from Top ...,0.7034,0.450000

In [15]:
vader_textblob_eos_data.to_csv('vader_textblob_eos_train_data')

## 2.1 ADA(Cardano) Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
eos_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    eos_test_df.append(pd.read_csv('./eos/eos OR eosio_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
eos_test_df.append(pd.read_csv('./eos/eos OR eosio_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
eos_test_data = d_concat.concat(eos_test_df)
eos_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-30 23:46:46+00:00,1073781374912421889,Esdeath,fluffypawsz,Photographer friends- i'm looking to order a n...,0,5,5852,823
1,2022-04-30 23:21:15+00:00,891024044442566656,Fey Paz they/them,paz_fey,@remercurize @FreyrsHof @magi_jay My reference...,0,0,452,429
2,2022-04-30 23:13:59+00:00,575197117,Crypto Signal Mall,TopPaidSignals,ByBit USDT\n#EOS/USDT All entry targets achiev...,0,0,551,232
3,2022-04-30 23:07:40+00:00,1167544884804444160,Shrike Tabletop,ShrikeTabletop,I do not care how you pronounce EoS lore stuff...,0,4,1467,637
4,2022-04-30 22:45:01+00:00,2755310156,AGU's Eos,AGU_Eos,Cutting-edge research in volcanology and disas...,2,2,18248,1387
...,...,...,...,...,...,...,...,...,...
4803,2022-04-29 04:44:04+00:00,984061401651138560,«§·é•·ñá·í™·îï ÍÄ≠ÍêáÍåöÍìÖ ’°«ü’º’º«ü ƒ¶ŒîV‚Ç¨ ·ñ¥·ëå·ëé·ó™·ó©·ó∞·ó¥·ëé‰∏Ö·ó©·í™ ‚¶ëhuman‚¶í ‡Ωûƒ±…†…ß…¨ Ç,CeliaFateEsq,@TeachingZeus @MuellerSheWrote Leaves out one ...,0,2,841,2430
4804,2022-04-29 04:10:23+00:00,47877894,Brian Worley,p4pictures,Decide where to focus with EOS R5 &amp; EOS R6...,0,0,2426,1842
4805,2022-04-29 04:07:53+00:00,76015405,Zougla.gr,zougla_online,https://t.co/tKzai571sA,0,0,70377,1011
4806,2022-04-29 03:42:31+00:00,829149567488765952,"Karen Robbins, MD",karenrobbinsmd,@AIMedEdJC In addition to what‚Äôs been notes‚Ä¶.h...,0,1,859,1058
4807,2022-04-29 03:32:35+00:00,15764571,Mr. Manager,Mister_Managr,@helmsinki @man_respecter What do you think th...,0,1,541,1803

In [17]:
eos_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [18]:
eos_test_data = eos_test_data.dropna()
eos_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
eos_test_data = eos_test_data.sort_values('date').reset_index(drop=True)
eos_test_data.to_csv('eos_test_data')
eos_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-28 12:30:01+00:00,2755310156,AGU's Eos,AGU_Eos,Researchers have devised a novel index based o...,0,1,18248,1387
1,2022-04-28 12:35:50+00:00,1509338985851719685,Not Grumpy Nadya,NotGrumpyNadya,@wiegard_chris 1. Gasoline prices have risen i...,0,0,40,59
2,2022-04-28 12:40:37+00:00,44840411,EIN Presswire: Press Releases,EINPresswirePR,Miller Nash LLP replaces EOS‚Ä§Web from SirsiDyn...,0,0,4763,186
3,2022-04-28 12:43:24+00:00,4136288362,HellasJournal.Com,HellasJournal,"3,2 ŒµŒ∫Œ±œÑ. ŒµœÖœÅœé Œ±œÄœåœàŒµ œÉœÑŒø œÑŒ∂Œ±Œ∫ œÄŒøœÑ œÑŒøœÖ Œ§ŒñŒüŒöŒïŒ° ‚Äì...",0,0,33783,13092
4,2022-04-28 12:58:34+00:00,1456638581674549251,NewsDesk,newsdesk_gr,"ŒëŒΩœÑŒØœÉœÑœÅŒøœÜŒ∑ ŒºŒ≠œÑœÅŒ∑œÉŒ∑ Œ≥ŒπŒ± œÑŒ∑ŒΩ Œ∫ŒªŒÆœÅœâœÉŒ∑ œÑœâŒΩ 3,2 ŒµŒ∫Œ±...",1,0,13,7
...,...,...,...,...,...,...,...,...,...
4803,2022-05-14 22:54:37+00:00,1049098093050912768,Downtime,tvdowntime,The Dream is Free Podcast Episode 51!! CEO of...,0,1,256,56
4804,2022-05-14 23:15:52+00:00,1346502670618652672,The Rollplayers' Guild,TheRPGuild1,Live right now on @eos_rakonto 's twitch chann...,2,3,2308,2237
4805,2022-05-14 23:41:10+00:00,815708250217840640,Leiaüåª,TheSWPrincess,"@derekokl Oh look, a troll who doesn't underst...",0,0,72956,36918
4806,2022-05-14 23:42:51+00:00,38556270,John Platt,jplatt04,How a Newly Discovered Mineral Might Explain W...,0,0,2229,4834
4807,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number

In [20]:
flair_test_eos = eos_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_eos)

In [22]:
sentimental_tweet.process('flair')
flair_processed_eos_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_eos_test

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4808/4808 [00:00<00:00, 14923.66it/s]

process time :  0.3278810977935791

,date,tweet,clean_text,flair
0,2022-04-28 12:30:01+00:00,Researchers have devised a novel index based o...,Researchers have devised a novel index based o...,NaN
1,2022-04-28 12:35:50+00:00,@wiegard_chris 1. Gasoline prices have risen i...,_chris 1 Gasoline prices have risen in the US ...,NaN
2,2022-04-28 12:40:37+00:00,Miller Nash LLP replaces EOS‚Ä§Web from SirsiDyn...,Miller Nash LLP replaces EOSWeb from SirsiDyni...,NaN
3,2022-04-28 12:43:24+00:00,"3,2 ŒµŒ∫Œ±œÑ. ŒµœÖœÅœé Œ±œÄœåœàŒµ œÉœÑŒø œÑŒ∂Œ±Œ∫ œÄŒøœÑ œÑŒøœÖ Œ§ŒñŒüŒöŒïŒ° ‚Äì...",3 2 21 30,NaN
4,2022-04-28 12:58:34+00:00,"ŒëŒΩœÑŒØœÉœÑœÅŒøœÜŒ∑ ŒºŒ≠œÑœÅŒ∑œÉŒ∑ Œ≥ŒπŒ± œÑŒ∑ŒΩ Œ∫ŒªŒÆœÅœâœÉŒ∑ œÑœâŒΩ 3,2 ŒµŒ∫Œ±...",3 2 21 30,NaN
...,...,...,...,...
4803,2022-05-14 22:54:37+00:00,The Dream is Free Podcast Episode 51!! CEO of...,The Dream is Free Podcast Episode 51 CEO of EO...,NaN
4804,2022-05-14 23:15:52+00:00,Live right now on @eos_rakonto 's twitch chann...,Live right now on _rakonto ' s twitch channel ...,NaN
4805,2022-05-14 23:41:10+00:00,"@derekokl Oh look, a troll who doesn't underst...",Oh look a troll who does not understand the li...,NaN
4806,2022-05-14 23:42:51+00:00,How a Newly Discovered Mineral Might Explain W...,How a Newly Discovered Mineral Might Explain W...,NaN
4807,date,tweet,tweet,NaN

In [23]:
flair_processed_eos_test.to_csv('flair_processed_eos_test_data')
pd.read_csv('flair_processed_eos_test_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-28 12:30:01+00:00,Researchers have devised a novel index based o...,Researchers have devised a novel index based o...,NaN
1,2022-04-28 12:35:50+00:00,@wiegard_chris 1. Gasoline prices have risen i...,_chris 1 Gasoline prices have risen in the US ...,NaN
2,2022-04-28 12:40:37+00:00,Miller Nash LLP replaces EOS‚Ä§Web from SirsiDyn...,Miller Nash LLP replaces EOSWeb from SirsiDyni...,NaN
3,2022-04-28 12:43:24+00:00,"3,2 ŒµŒ∫Œ±œÑ. ŒµœÖœÅœé Œ±œÄœåœàŒµ œÉœÑŒø œÑŒ∂Œ±Œ∫ œÄŒøœÑ œÑŒøœÖ Œ§ŒñŒüŒöŒïŒ° ‚Äì...",3 2 21 30,NaN
4,2022-04-28 12:58:34+00:00,"ŒëŒΩœÑŒØœÉœÑœÅŒøœÜŒ∑ ŒºŒ≠œÑœÅŒ∑œÉŒ∑ Œ≥ŒπŒ± œÑŒ∑ŒΩ Œ∫ŒªŒÆœÅœâœÉŒ∑ œÑœâŒΩ 3,2 ŒµŒ∫Œ±...",3 2 21 30,NaN
...,...,...,...,...
4803,2022-05-14 22:54:37+00:00,The Dream is Free Podcast Episode 51!! CEO of...,The Dream is Free Podcast Episode 51 CEO of EO...,NaN
4804,2022-05-14 23:15:52+00:00,Live right now on @eos_rakonto 's twitch chann...,Live right now on _rakonto ' s twitch channel ...,NaN
4805,2022-05-14 23:41:10+00:00,"@derekokl Oh look, a troll who doesn't underst...",Oh look a troll who does not understand the li...,NaN
4806,2022-05-14 23:42:51+00:00,How a Newly Discovered Mineral Might Explain W...,How a Newly Discovered Mineral Might Explain W...,NaN
4807,date,tweet,tweet,NaN

## 2.2 Vader, Textblob Í∞êÏÑ±Î∂ÑÏÑù ÏßÑÌñâ

- Vader Í∞êÏÑ± Î∂ÑÏÑù

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4808/4808 [00:00<00:00, 14825.33it/s]

process time :  0.32805490493774414

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4808/4808 [00:00<00:00, 14241.76it/s]

vader sentimental time :  0.3417167663574219

- Textblob Í∞êÏÑ± Î∂ÑÏÑù

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4808/4808 [00:00<00:00, 14867.45it/s]

process time :  0.3270840644836426

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4808/4808 [00:00<00:00, 10234.58it/s]

textblob sentimental time :  0.47089600563049316

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-28 12:30:01+00:00,Researchers have devised a novel index based o...,researchers have devised a novel index based o...,0.6124,0.000000
1,2022-04-28 12:35:50+00:00,@wiegard_chris 1. Gasoline prices have risen i...,_chris 1 gasoline prices have risen in the us ...,0.0000,-0.050000
2,2022-04-28 12:40:37+00:00,Miller Nash LLP replaces EOS‚Ä§Web from SirsiDyn...,miller nash llp replaces eosweb from sirsidyni...,0.0000,0.000000
3,2022-04-28 12:43:24+00:00,"3,2 ŒµŒ∫Œ±œÑ. ŒµœÖœÅœé Œ±œÄœåœàŒµ œÉœÑŒø œÑŒ∂Œ±Œ∫ œÄŒøœÑ œÑŒøœÖ Œ§ŒñŒüŒöŒïŒ° ‚Äì...",3 2 21 30,0.0000,0.000000
4,2022-04-28 12:58:34+00:00,"ŒëŒΩœÑŒØœÉœÑœÅŒøœÜŒ∑ ŒºŒ≠œÑœÅŒ∑œÉŒ∑ Œ≥ŒπŒ± œÑŒ∑ŒΩ Œ∫ŒªŒÆœÅœâœÉŒ∑ œÑœâŒΩ 3,2 ŒµŒ∫Œ±...",3 2 21 30,0.0000,0.000000
...,...,...,...,...,...
4803,2022-05-14 22:54:37+00:00,The Dream is Free Podcast Episode 51!! CEO of...,the dream is free podcast episode 51 ceo of eo...,0.5719,0.450000
4804,2022-05-14 23:15:52+00:00,Live right now on @eos_rakonto 's twitch chann...,live right now on _rakonto ' s twitch channel ...,0.0000,0.139610
4805,2022-05-14 23:41:10+00:00,"@derekokl Oh look, a troll who doesn't underst...",oh look a troll who does not understand the li...,0.0000,0.000000
4806,2022-05-14 23:42:51+00:00,How a Newly Discovered Mineral Might Explain W...,how a newly discovered mineral might explain w...,-0.4404,-0.181818
4807,date,tweet,tweet,0.0000,0.000000

In [27]:
vader_textblob_eos_test_data = sentimental_tweet.twitter_data
vader_textblob_eos_test_data.to_csv('vader_textblob_eos_test_data')
pd.read_csv('vader_textblob_eos_test_data')

,Unnamed: 0,date,tweet,clean_text,vader,textblob
0,0,2022-04-28 12:30:01+00:00,Researchers have devised a novel index based o...,researchers have devised a novel index based o...,0.6124,0.000000
1,1,2022-04-28 12:35:50+00:00,@wiegard_chris 1. Gasoline prices have risen i...,_chris 1 gasoline prices have risen in the us ...,0.0000,-0.050000
2,2,2022-04-28 12:40:37+00:00,Miller Nash LLP replaces EOS‚Ä§Web from SirsiDyn...,miller nash llp replaces eosweb from sirsidyni...,0.0000,0.000000
3,3,2022-04-28 12:43:24+00:00,"3,2 ŒµŒ∫Œ±œÑ. ŒµœÖœÅœé Œ±œÄœåœàŒµ œÉœÑŒø œÑŒ∂Œ±Œ∫ œÄŒøœÑ œÑŒøœÖ Œ§ŒñŒüŒöŒïŒ° ‚Äì...",3 2 21 30,0.0000,0.000000
4,4,2022-04-28 12:58:34+00:00,"ŒëŒΩœÑŒØœÉœÑœÅŒøœÜŒ∑ ŒºŒ≠œÑœÅŒ∑œÉŒ∑ Œ≥ŒπŒ± œÑŒ∑ŒΩ Œ∫ŒªŒÆœÅœâœÉŒ∑ œÑœâŒΩ 3,2 ŒµŒ∫Œ±...",3 2 21 30,0.0000,0.000000
...,...,...,...,...,...,...
4803,4803,2022-05-14 22:54:37+00:00,The Dream is Free Podcast Episode 51!! CEO of...,the dream is free podcast episode 51 ceo of eo...,0.5719,0.450000
4804,4804,2022-05-14 23:15:52+00:00,Live right now on @eos_rakonto 's twitch chann...,live right now on _rakonto ' s twitch channel ...,0.0000,0.139610
4805,4805,2022-05-14 23:41:10+00:00,"@derekokl Oh look, a troll who doesn't underst...",oh look a troll who does not understand the li...,0.0000,0.000000
4806,4806,2022-05-14 23:42:51+00:00,How a Newly Discovered Mineral Might Explain W...,how a newly discovered mineral might explain w...,-0.4404,-0.181818
4807,4807,date,tweet,tweet,0.0000,0.000000