# 필요한 라이브러리 import

In [1]:
import pandas as pd
from data_concat import data_concat
from sentimentalAnalysis import sentimental_analysis
from sentimentalAnalysis import sentimental_analysis

## 2.1 IOTA Train Data - Processed for Flair

- 전처리 이후 김도영 학우에게 전달하여 학습할 데이터
- 2022.04.13~2022.04.27

In [2]:
#tweet data 2022.04.14~2022.04.28
date="2022-04-"
d_concat = data_concat()
iota_df = []

for i in range(14,29):
    iota_df.append(pd.read_csv('./iota/iota OR miota_'+date+str(i), 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))

iota_data = d_concat.concat(iota_df)

In [3]:
iota_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [4]:
iota_data= iota_data.dropna()
iota_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [5]:
# 데이터 저장
iota_data = iota_data.sort_values('date').reset_index(drop=True)
iota_data.to_csv('iota_train_data')
iota_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-12 22:00:38+00:00,3082975329,TheOneAndOnlyRanch,MattTheSunbro,@the_colonel93 @iota_09 @Distortion_2 Civ 5 ha...,0,1,400,2289
1,2022-04-12 22:01:09+00:00,1060321731682938880,Ninth Iota,Iota_The_Ninth,How come Tom from Toonami didn't voice act Mas...,0,1,40,592
2,2022-04-12 22:11:58+00:00,890028532822417408,John Dugan,sicsicsinefine,@iota_subscript This needs to be a screenplay....,0,1,812,1039
3,2022-04-12 22:14:04+00:00,893639839312162817,Schaefenator,Schaefguy,@VintageBrowns @NikoAmbo I understand. But th...,0,1,41,172
4,2022-04-12 22:23:38+00:00,181945481,Evan Jewell,quidamabo,@iota_subscript Anyone else willing to share t...,0,1,2080,1859
...,...,...,...,...,...,...,...,...,...
908,2022-04-27 22:46:52+00:00,500433311,Jermaine Grimes,Dying2meetAva,@TyneshaBBCan10 Was not surprised one iota whe...,0,0,82,877
909,2022-04-27 23:00:04+00:00,953559767242498049,U.Today,Utoday_en,ICYMI: #Iota states that the controversial reg...,2,16,55415,4416
910,2022-04-27 23:08:00+00:00,251587323,Pierre Caumartin,Manatwork2,@TattoosandSass Not an iota.,0,1,710,1461
911,2022-04-27 23:23:20+00:00,27049466,Lissa Harris,lissaharris,"For whatever it’s worth, I don’t give one iota...",0,11,2149,2012
912,2022-04-27 23:55:16+00:00,1395521971031576580,Procrastinate TODAY!,big_prostate,@asideofBree @Essentialworker @briantylercohen...,0,1,14,12

In [6]:
flair_iota = iota_data[['date','tweet']]

In [7]:
sentimental_tweet = sentimental_analysis(flair_iota)

In [8]:
sentimental_tweet.process('flair')
flair_processed_iota = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_iota

100%|██████████████████████████████████████| 913/913 [00:00<00:00, 10625.41it/s]

process time :  0.09985995292663574

,date,tweet,clean_text,flair
0,2022-04-12 22:00:38+00:00,@the_colonel93 @iota_09 @Distortion_2 Civ 5 ha...,_colonel93 _09 _2 Civ 5 has like a 1 second ru...,NaN
1,2022-04-12 22:01:09+00:00,How come Tom from Toonami didn't voice act Mas...,How come Tom from Toonami did not voice act Ma...,NaN
2,2022-04-12 22:11:58+00:00,@iota_subscript This needs to be a screenplay....,_subscript This needs to be a screenplay And i...,NaN
3,2022-04-12 22:14:04+00:00,@VintageBrowns @NikoAmbo I understand. But th...,I understand But that was such a kick to the n...,NaN
4,2022-04-12 22:23:38+00:00,@iota_subscript Anyone else willing to share t...,_subscript Anyone else willing to share their ...,NaN
...,...,...,...,...
908,2022-04-27 22:46:52+00:00,@TyneshaBBCan10 Was not surprised one iota whe...,Was not surprised one iota when Summer got out...,NaN
909,2022-04-27 23:00:04+00:00,ICYMI: #Iota states that the controversial reg...,ICYMI states that the controversial regulation...,NaN
910,2022-04-27 23:08:00+00:00,@TattoosandSass Not an iota.,Not an iota,NaN
911,2022-04-27 23:23:20+00:00,"For whatever it’s worth, I don’t give one iota...",For whatever it is worth I do not give one iot...,NaN
912,2022-04-27 23:55:16+00:00,@asideofBree @Essentialworker @briantylercohen...,Your situation literally has not changed one i...,NaN

In [9]:
flair_processed_iota.to_csv('flair_processed_iota_train_data')

In [10]:
pd.read_csv('flair_processed_iota_train_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-12 22:00:38+00:00,@the_colonel93 @iota_09 @Distortion_2 Civ 5 ha...,_colonel93 _09 _2 Civ 5 has like a 1 second ru...,NaN
1,2022-04-12 22:01:09+00:00,How come Tom from Toonami didn't voice act Mas...,How come Tom from Toonami did not voice act Ma...,NaN
2,2022-04-12 22:11:58+00:00,@iota_subscript This needs to be a screenplay....,_subscript This needs to be a screenplay And i...,NaN
3,2022-04-12 22:14:04+00:00,@VintageBrowns @NikoAmbo I understand. But th...,I understand But that was such a kick to the n...,NaN
4,2022-04-12 22:23:38+00:00,@iota_subscript Anyone else willing to share t...,_subscript Anyone else willing to share their ...,NaN
...,...,...,...,...
908,2022-04-27 22:46:52+00:00,@TyneshaBBCan10 Was not surprised one iota whe...,Was not surprised one iota when Summer got out...,NaN
909,2022-04-27 23:00:04+00:00,ICYMI: #Iota states that the controversial reg...,ICYMI states that the controversial regulation...,NaN
910,2022-04-27 23:08:00+00:00,@TattoosandSass Not an iota.,Not an iota,NaN
911,2022-04-27 23:23:20+00:00,"For whatever it’s worth, I don’t give one iota...",For whatever it is worth I do not give one iot...,NaN
912,2022-04-27 23:55:16+00:00,@asideofBree @Essentialworker @briantylercohen...,Your situation literally has not changed one i...,NaN

## 2.2 Vader, Textblob 감성분석 진행

- Textblob 감성 분석

In [11]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|██████████████████████████████████████| 913/913 [00:00<00:00, 11244.82it/s]

process time :  0.08387303352355957

100%|███████████████████████████████████████| 913/913 [00:00<00:00, 7596.18it/s]

textblob sentimental time :  0.12126994132995605

- Vader 감성 분석

In [12]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|██████████████████████████████████████| 913/913 [00:00<00:00, 12259.92it/s]

process time :  0.07700991630554199

100%|███████████████████████████████████████| 913/913 [00:00<00:00, 9626.25it/s]

vader sentimental time :  0.10193324089050293

In [13]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-12 22:00:38+00:00,@the_colonel93 @iota_09 @Distortion_2 Civ 5 ha...,_colonel93 _09 _2 Civ 5 has like a 1 second ru...,0.3612,0.000000
1,2022-04-12 22:01:09+00:00,How come Tom from Toonami didn't voice act Mas...,How come Tom from Toonami did not voice act Ma...,0.5719,0.750000
2,2022-04-12 22:11:58+00:00,@iota_subscript This needs to be a screenplay....,_subscript This needs to be a screenplay And i...,0.0000,0.000000
3,2022-04-12 22:14:04+00:00,@VintageBrowns @NikoAmbo I understand. But th...,I understand But that was such a kick to the n...,0.0000,-0.125000
4,2022-04-12 22:23:38+00:00,@iota_subscript Anyone else willing to share t...,_subscript Anyone else willing to share their ...,-0.5423,0.250000
...,...,...,...,...,...
908,2022-04-27 22:46:52+00:00,@TyneshaBBCan10 Was not surprised one iota whe...,Was not surprised one iota when Summer got out...,-0.1695,0.141667
909,2022-04-27 23:00:04+00:00,ICYMI: #Iota states that the controversial reg...,ICYMI states that the controversial regulation...,-0.1027,0.550000
910,2022-04-27 23:08:00+00:00,@TattoosandSass Not an iota.,Not an iota,0.0000,0.000000
911,2022-04-27 23:23:20+00:00,"For whatever it’s worth, I don’t give one iota...",For whatever it is worth I do not give one iot...,0.0000,-0.050000
912,2022-04-27 23:55:16+00:00,@asideofBree @Essentialworker @briantylercohen...,Your situation literally has not changed one i...,-0.0614,0.000000

In [14]:
vader_textblob_iota_data = sentimental_tweet.twitter_data.sort_values('date').reset_index(drop=True)
vader_textblob_iota_data

,date,tweet,clean_text,vader,textblob
0,2022-04-12 22:00:38+00:00,@the_colonel93 @iota_09 @Distortion_2 Civ 5 ha...,_colonel93 _09 _2 Civ 5 has like a 1 second ru...,0.3612,0.000000
1,2022-04-12 22:01:09+00:00,How come Tom from Toonami didn't voice act Mas...,How come Tom from Toonami did not voice act Ma...,0.5719,0.750000
2,2022-04-12 22:11:58+00:00,@iota_subscript This needs to be a screenplay....,_subscript This needs to be a screenplay And i...,0.0000,0.000000
3,2022-04-12 22:14:04+00:00,@VintageBrowns @NikoAmbo I understand. But th...,I understand But that was such a kick to the n...,0.0000,-0.125000
4,2022-04-12 22:23:38+00:00,@iota_subscript Anyone else willing to share t...,_subscript Anyone else willing to share their ...,-0.5423,0.250000
...,...,...,...,...,...
908,2022-04-27 22:46:52+00:00,@TyneshaBBCan10 Was not surprised one iota whe...,Was not surprised one iota when Summer got out...,-0.1695,0.141667
909,2022-04-27 23:00:04+00:00,ICYMI: #Iota states that the controversial reg...,ICYMI states that the controversial regulation...,-0.1027,0.550000
910,2022-04-27 23:08:00+00:00,@TattoosandSass Not an iota.,Not an iota,0.0000,0.000000
911,2022-04-27 23:23:20+00:00,"For whatever it’s worth, I don’t give one iota...",For whatever it is worth I do not give one iot...,0.0000,-0.050000
912,2022-04-27 23:55:16+00:00,@asideofBree @Essentialworker @briantylercohen...,Your situation literally has not changed one i...,-0.0614,0.000000

In [15]:
vader_textblob_iota_data.to_csv('vader_textblob_iota_train_data')

## 2.1 IOTA Test Data - Processed for Flair

- 2022.04.30~2022.05.14

In [16]:
#tweet data 2022.04.14~2022.04.28
date="2022-05-"
iota_test_df = []
d_concat = data_concat()

for i in range(1,16):
    day =''
    if i < 10 : 
        day='0'+str(i)
    else : 
        day = str(i)
    iota_test_df.append(pd.read_csv('./iota/iota OR miota_'+date+day, 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
iota_test_df.append(pd.read_csv('./iota/iota OR miota_2022-04-30', 
                                  encoding='utf-8', on_bad_lines='skip').drop('number',axis=1))
iota_test_data = d_concat.concat(iota_test_df)
iota_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-30 23:56:20+00:00,575197117,Crypto Signal Mall,TopPaidSignals,BinanceKillers:\n\n#IOTA/USDT Take-Profit targ...,0,0,551,232
1,2022-04-30 23:48:57+00:00,849598419094130688,Erika Moseley,EHMoseley6,I was humbled and encouraged to be recognized ...,0,36,413,678
2,2022-04-30 23:36:20+00:00,1361102832540205060,Charlie Paradise,CarlEricEagle,@sassal0x Iota,0,0,34,74
3,2022-04-30 23:31:08+00:00,286753821,Jason Hillenburg,jasonhillenburg,@MorgaineSwann @ProudSocialist There isn't an ...,0,1,114,642
4,2022-04-30 23:12:40+00:00,575197117,Crypto Signal Mall,TopPaidSignals,BinanceKillers:\n\nBinance\n#IOTA/USDT Entry t...,0,0,551,232
...,...,...,...,...,...,...,...,...,...
4897,2022-04-29 06:44:24+00:00,1132175472,The Mancore Project (Uncle Max),royimax,@mr_elsolomon I've never seen a human being ch...,1,8,515,1541
4898,2022-04-29 05:59:35+00:00,1277570849227317251,🅱️🅾️ Roll Pats!,Brian_OC100,@PatriotsHaven @ezlazar Do you really think Be...,0,0,260,2824
4899,2022-04-29 05:21:07+00:00,2524258520,Ghost of Xmas WTF is wrong with you,RadTours,@Maccabeus24 @aries_lady92 @united6059 @Opsima...,0,0,162,477
4900,2022-04-29 04:26:13+00:00,1383665580138373120,Dave - From State Farm,david54110773,@JenniferScucci @Animal5pirits @Misery_Chicka ...,0,2,416,823
4901,2022-04-29 03:06:33+00:00,1510563084,Welshdraggin 🇺🇲🏴󠁧󠁢󠁷󠁬󠁳󠁿🌊,mad_whiteguy,@VABVOX I feel like I'm a odd character but I ...,0,8,9706,10494

In [17]:
iota_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [18]:
iota_test_data = iota_test_data.dropna()
iota_test_data.isna().sum()

date                0
user_id             0
user_name           0
user_screen_name    0
tweet               0
retweets            0
likes               0
follower_number     0
following_number    0
dtype: int64

In [19]:
# 데이터 저장
iota_test_data = iota_test_data.sort_values('date').reset_index(drop=True)
iota_test_data.to_csv('iota_test_data')
iota_test_data

,date,user_id,user_name,user_screen_name,tweet,retweets,likes,follower_number,following_number
0,2022-04-28 23:38:18+00:00,1467587767261663238,Christian White🇺🇦,Christian1White,Here’s the 2022 Atlantic Hurricane Season name...,0,7,368,585
1,2022-04-28 23:54:57+00:00,238575695,Jack Warford ⚡️ 🇺🇦 🪐,Jack_Warford,@BTC_Archive HUGE for $BTC. there were some ot...,0,2,345,688
2,2022-04-29 00:32:52+00:00,2213993617,Waifu unit: 2B,MeowchiiUnit,@Iota_zerotwo I just don’t want people to flir...,0,1,1357,1248
3,2022-04-29 00:43:08+00:00,997663537668415488,Squattybaudy ❌,Squattybaudy1,"After being banned, I am back. I found other ...",0,0,8,26
4,2022-04-29 00:59:42+00:00,1108559620128178176,Black Unicorn Rose 🦄🕊️✊🏾🌺🍀🖕🏾🎙️🌻,blkunicornrose,Same. I can't stomach ppl conning &amp; scammi...,1,1,625,356
...,...,...,...,...,...,...,...,...,...
4897,2022-05-14 20:06:23+00:00,3955461914,Standing with Ukraine,MudKevin,I feel pretty disconnected from all that is ha...,4,64,3627,4643
4898,2022-05-14 20:29:46+00:00,973649208,ASSIGNMENTS AND ESSAY HELP EXPERT,kimwriter_tutor,Pay us to write your assignments\nprofessional...,14,7,35,84
4899,2022-05-14 20:56:35+00:00,1212759485040586753,PeterParker,PeterParker2024,@TheRealPlanC Missing #IOTA imo,0,1,84,431
4900,2022-05-14 22:41:00+00:00,809138325864869888,"It's a Mad, Mad, Mad Max World🌱🇵🇸",_William_Blake,@RepValDemings The whole problem is that from ...,0,1,512,312
4901,2022-05-14 23:44:44+00:00,1368905157262667776,Jesse,JesseLivermoore,What will be new trend in #crypto #market ? \n...,2,5,241,260

In [20]:
flair_test_iota = iota_test_data[['date','tweet']]

In [21]:
sentimental_tweet = sentimental_analysis(flair_test_iota)

In [22]:
sentimental_tweet.process('flair')
flair_processed_iota_test = sentimental_tweet.twitter_data.drop('vader',axis=1)
flair_processed_iota_test

100%|████████████████████████████████████| 4902/4902 [00:00<00:00, 12676.66it/s]

process time :  0.3920400142669678

,date,tweet,clean_text,flair
0,2022-04-28 23:38:18+00:00,Here’s the 2022 Atlantic Hurricane Season name...,Here's the 2022 Atlantic Hurricane Season name...,NaN
1,2022-04-28 23:54:57+00:00,@BTC_Archive HUGE for $BTC. there were some ot...,_Archive HUGE for $ BTC there were some others...,NaN
2,2022-04-29 00:32:52+00:00,@Iota_zerotwo I just don’t want people to flir...,_zerotwo I just do not want people to flirt wi...,NaN
3,2022-04-29 00:43:08+00:00,"After being banned, I am back. I found other ...",After being banned I am back I found other ave...,NaN
4,2022-04-29 00:59:42+00:00,Same. I can't stomach ppl conning &amp; scammi...,Same I cannot stomach ppl conning & amp scammi...,NaN
...,...,...,...,...
4897,2022-05-14 20:06:23+00:00,I feel pretty disconnected from all that is ha...,I feel pretty disconnected from all that is ha...,NaN
4898,2022-05-14 20:29:46+00:00,Pay us to write your assignments\nprofessional...,Pay us to write your assignments professional ...,NaN
4899,2022-05-14 20:56:35+00:00,@TheRealPlanC Missing #IOTA imo,Missing imo,NaN
4900,2022-05-14 22:41:00+00:00,@RepValDemings The whole problem is that from ...,The whole problem is that from a legal standpo...,NaN
4901,2022-05-14 23:44:44+00:00,What will be new trend in #crypto #market ? \n...,What will be new trend in What you think,NaN

In [23]:
flair_processed_iota_test.to_csv('flair_processed_iota_test_data')
pd.read_csv('flair_processed_iota_test_data').drop('Unnamed: 0',axis=1)

,date,tweet,clean_text,flair
0,2022-04-28 23:38:18+00:00,Here’s the 2022 Atlantic Hurricane Season name...,Here's the 2022 Atlantic Hurricane Season name...,NaN
1,2022-04-28 23:54:57+00:00,@BTC_Archive HUGE for $BTC. there were some ot...,_Archive HUGE for $ BTC there were some others...,NaN
2,2022-04-29 00:32:52+00:00,@Iota_zerotwo I just don’t want people to flir...,_zerotwo I just do not want people to flirt wi...,NaN
3,2022-04-29 00:43:08+00:00,"After being banned, I am back. I found other ...",After being banned I am back I found other ave...,NaN
4,2022-04-29 00:59:42+00:00,Same. I can't stomach ppl conning &amp; scammi...,Same I cannot stomach ppl conning & amp scammi...,NaN
...,...,...,...,...
4897,2022-05-14 20:06:23+00:00,I feel pretty disconnected from all that is ha...,I feel pretty disconnected from all that is ha...,NaN
4898,2022-05-14 20:29:46+00:00,Pay us to write your assignments\nprofessional...,Pay us to write your assignments professional ...,NaN
4899,2022-05-14 20:56:35+00:00,@TheRealPlanC Missing #IOTA imo,Missing imo,NaN
4900,2022-05-14 22:41:00+00:00,@RepValDemings The whole problem is that from ...,The whole problem is that from a legal standpo...,NaN
4901,2022-05-14 23:44:44+00:00,What will be new trend in #crypto #market ? \n...,What will be new trend in What you think,NaN

## 2.2 Vader, Textblob 감성분석 진행

- Vader 감성 분석

In [24]:
sentimental_tweet.process('vader')
sentimental_tweet.sentimental_with_vader()

100%|████████████████████████████████████| 4902/4902 [00:00<00:00, 12639.59it/s]

process time :  0.3919379711151123

100%|████████████████████████████████████| 4902/4902 [00:00<00:00, 10657.77it/s]

vader sentimental time :  0.46398067474365234

- Textblob 감성 분석

In [25]:
sentimental_tweet.process('textblob')
sentimental_tweet.sentimental_with_textblob()

100%|████████████████████████████████████| 4902/4902 [00:00<00:00, 12641.16it/s]

process time :  0.3918478488922119

100%|█████████████████████████████████████| 4902/4902 [00:00<00:00, 9571.64it/s]

textblob sentimental time :  0.5130980014801025

In [26]:
sentimental_tweet.twitter_data = sentimental_tweet.twitter_data.drop('flair',axis=1)
sentimental_tweet.twitter_data

,date,tweet,clean_text,vader,textblob
0,2022-04-28 23:38:18+00:00,Here’s the 2022 Atlantic Hurricane Season name...,here's the 2022 atlantic hurricane season name...,0.0000,0.000000
1,2022-04-28 23:54:57+00:00,@BTC_Archive HUGE for $BTC. there were some ot...,_archive huge for $ btc there were some others...,0.6289,0.400000
2,2022-04-29 00:32:52+00:00,@Iota_zerotwo I just don’t want people to flir...,_zerotwo i just do not want people to flirt wi...,0.3134,-0.500000
3,2022-04-29 00:43:08+00:00,"After being banned, I am back. I found other ...",after being banned i am back i found other ave...,-0.3728,-0.062500
4,2022-04-29 00:59:42+00:00,Same. I can't stomach ppl conning &amp; scammi...,same i cannot stomach ppl conning & amp scammi...,-0.7430,0.000000
...,...,...,...,...,...
4897,2022-05-14 20:06:23+00:00,I feel pretty disconnected from all that is ha...,i feel pretty disconnected from all that is ha...,0.4939,0.375000
4898,2022-05-14 20:29:46+00:00,Pay us to write your assignments\nprofessional...,pay us to write your assignments professional ...,-0.1027,0.100000
4899,2022-05-14 20:56:35+00:00,@TheRealPlanC Missing #IOTA imo,missing imo,-0.2960,-0.200000
4900,2022-05-14 22:41:00+00:00,@RepValDemings The whole problem is that from ...,the whole problem is that from a legal standpo...,0.3818,0.133333
4901,2022-05-14 23:44:44+00:00,What will be new trend in #crypto #market ? \n...,what will be new trend in what you think,0.0000,0.136364

In [27]:
vader_textblob_iota_test_data = sentimental_tweet.twitter_data
vader_textblob_iota_test_data.to_csv('vader_textblob_iota_test_data')
pd.read_csv('vader_textblob_iota_test_data')

,Unnamed: 0,date,tweet,clean_text,vader,textblob
0,0,2022-04-28 23:38:18+00:00,Here’s the 2022 Atlantic Hurricane Season name...,here's the 2022 atlantic hurricane season name...,0.0000,0.000000
1,1,2022-04-28 23:54:57+00:00,@BTC_Archive HUGE for $BTC. there were some ot...,_archive huge for $ btc there were some others...,0.6289,0.400000
2,2,2022-04-29 00:32:52+00:00,@Iota_zerotwo I just don’t want people to flir...,_zerotwo i just do not want people to flirt wi...,0.3134,-0.500000
3,3,2022-04-29 00:43:08+00:00,"After being banned, I am back. I found other ...",after being banned i am back i found other ave...,-0.3728,-0.062500
4,4,2022-04-29 00:59:42+00:00,Same. I can't stomach ppl conning &amp; scammi...,same i cannot stomach ppl conning & amp scammi...,-0.7430,0.000000
...,...,...,...,...,...,...
4897,4897,2022-05-14 20:06:23+00:00,I feel pretty disconnected from all that is ha...,i feel pretty disconnected from all that is ha...,0.4939,0.375000
4898,4898,2022-05-14 20:29:46+00:00,Pay us to write your assignments\nprofessional...,pay us to write your assignments professional ...,-0.1027,0.100000
4899,4899,2022-05-14 20:56:35+00:00,@TheRealPlanC Missing #IOTA imo,missing imo,-0.2960,-0.200000
4900,4900,2022-05-14 22:41:00+00:00,@RepValDemings The whole problem is that from ...,the whole problem is that from a legal standpo...,0.3818,0.133333
4901,4901,2022-05-14 23:44:44+00:00,What will be new trend in #crypto #market ? \n...,what will be new trend in what you think,0.0000,0.136364